<div class="row">
    <div class="container-fluid">
        <div class="col-md-12"
             style="padding-top: 15px;padding-bottom: 15px;margin-top: 20px;background-color: #ffffff;">
            <div id="dealer_carrusel_container" class="col-md-3 no_padding">
                <div id="dealer_carrusel" class="carousel slide" data-interval="10000" data-ride="carousel">

                    <!-- Bloque para las imágenes -->
                    <div class="carousel-inner">
                        {% for profileimage in profile.gallery.profileImages %}
                            <div class="carrusel_tumb old item  {% if loop.first %} active {% endif %}"
                                 style="height: 163px;background-image:url('{{ asset(profileimage.getWebPathThumbnail(profile)) }}');"></div>
                        {% endfor %}
                    </div>

                    <!-- Controles -->
                    <a class="left carousel-control" href="#dealer_carrusel" data-slide="prev">
                        <span class="glyphicon glyphicon-triangle-left"></span>
                    </a>
                    <a class="right carousel-control" href="#dealer_carrusel" data-slide="next">
                        <span class="glyphicon glyphicon-triangle-right"></span>
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3 ">
                        <div class="thumbnail">
                            <div class="logo img-responsive"
                                 style="background-image:url('{{ asset( profile.logo) }}');height: 60px;width:100%">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-md-offset-1">
                        <div class="row espacio">
                            <a href="{{ path('set_description', {'type':'open' , 'prop_pk': prop_pk}) }}"
                               class="btn btn_edit btn-block">Edit dealership info</a>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding-top: 15px;">
                    <div class="col-md-12" style="line-height: 0.5em">
                        <h3 style="margin-top: 0px;margin-bottom: 0px; font-weight: 500;color: black">{{ profile.description.name }}</h3>
                        <br>
                        <a class="blue_link" href="">Inventory <span>{{ profile.getInventory() }}</span> cars</a>
                    </div>
                </div>
                <div class="row" style="margin-top: 17px">
                    <div class="col-md-12">
                        <span style="font-size: 15px;font-weight: 400">{{ profile.description.phone }}</span><br/>
                        <span id="address">{{ profile.description.address }}</span>
                    </div>
                </div>

            </div>
            <div class="col-md-3 col-sm-5 col-xs-12 text-center no_padding pull-right" id="map-canvas"
                 style="height: 160px;">
            </div>
        </div>
    </div>

</div>

{{ include('AdminBundle:Default:user-inquiries.html.twig') }}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 no_padding" style="margin-top: 20px;">
            <div class="row">
                <div class="col-md-12">

                    <ul class="nav nav-tabs" role="tablist" style="border: none;margin-bottom: 0px">
                        <div class="col-md-4 text-center">
                            <div class="row espacio" class="active">
                                <a id="invent" aria-expanded="false" href="#inventory_panel" data-toggle="tab"
                                   class="btn btn_edit btn-block text-uppercase tabactive tab_button">Inventory</a>
                            </div>
                            <span id="down_arrow_1" class="glyphicon glyphicon-triangle-bottom down_arrow"></span>
                        </div>
                        <div class="col-md-4 text-center">
                            <div class="row espacio">
                                <a id="about" aria-expanded="false" href="#aboutdealer_panel" data-toggle="tab"
                                   class="btn btn_edit btn-block text-uppercase tab_button">About the dealerschip</a>
                            </div>
                            <span id="down_arrow_2" class="glyphicon glyphicon-triangle-bottom down_arrow hidden"></span>
                        </div>
                        <div class="col-md-4 text-center">
                            <div class="row espacio">
                                <a id="rating" aria-expanded="false" href="#ratingsandreviews_panel" data-toggle="tab"
                                   class="btn btn_edit btn-block text-uppercase tab_button">Ratings and reviews</a>
                            </div>
                            <span id="down_arrow_3" class="glyphicon glyphicon-triangle-bottom down_arrow hidden"></span>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane face in active" id="inventory_panel">
        <div class="col-md-12 " style="background-color: #ffffff;">

            <nav class="navbar" role="navigation"
                 style="background-color: white;border-radius: 0px;padding: 5px 0px;margin-bottom: 0px;min-height: 46px;">
                <div class="collapse navbar-collapse navbar-ex1-collapse"
                     style="padding-left: 0px;padding-top: 3px;padding-right:0px">
                    <div class="col-md-2 no_padding">
                        <ul class="nav navbar-nav pull-left" id="input_search" style="margin: 0;">
                            <li>
                                <a href="{{ path('create_vehicle_basic_info',{'type':'open' , 'prop_pk':prop_pk , 'vehicle_id': 'new' }) }}"
                                   class="navbar-text brand text-uppercase blue_link "
                                   style="font-size: 12px ;font-weight: 600;padding-left: 0px;margin: 2px">[add
                                    a new
                                    car]</a>
                            </li>
                        </ul>

                    </div>

                    <div class="col-md-10 no_padding pull-right text-right">
                        {{ include('CommonBundle:Default:filters.html.twig') }}
                    </div>


                </div>
            </nav>

        </div>

        <div id="dealer_vehicles_content">

            {{ include('AdminBundle:DealerForm:dealer-vehicles-content.html.twig') }}

        </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="aboutdealer_panel">
        <div id="container" class="container-fluid properties-container" style="background-color: #ffffff">

            <div class="row">
                <div class="col-md-4 col-sm-3 col-xs-12">

                    <div class="col-md-12 col-xs-12">
                        <br>
                        <ul>
                            <li style="font-size: medium; font-weight: bold  ">Website URl</li>
                            <li style="font-size: medium; font-weight: 200 "><a
                                        href="{{ profile.description.getWebPage() }}"> <span
                                            style="font-size: 14px  ;color:#006dcc"
                                            >{{ profile.description.getWebPage() }}</span></a>
                            </li>
                        </ul>
                        <br>
                        <ul>
                            <li style="font-size: medium; font-weight: bold  ">Hours of operation</li>
                            <li style="font-size: medium; font-size: 14px ">from <span
                                        style="color: #006dcc">{{ profile.description.getHoursOpen() }}</span> to <span
                                        style="color: #006dcc">{{ profile.description.getHoursClose() }}</span></li>
                        </ul>
                        <br>
                        <ul>
                            <li style="font-size: medium; font-weight: bold  ">Languages Spoken</li>

                            {% for language in profile.usefulinformation.languages %}

                                <li style="font-size: medium; font-size: 14px;"><span
                                            style="color: black">{{ language.name }}</span></li>

                            {% endfor %}

                        </ul>
                        <br>
                        <ul>
                            <li style="font-size: medium; font-weight: bold  ">Services and Amenities</li>

                            {% for profileservice in profile.profileservices %}

                                <li style="font-size: medium; font-size: 14px;"><span
                                            style="color: black"><span
                                                style="color:#006dcc;font-weight: bold; font-size: 15px">·</span>{{ profileservice.services.name }}</span>
                                </li>

                            {% endfor %}

                        </ul>
                    </div>
                </div>

                <div class="col-md-8 col-sm-9 col-xs-12">

                    <div class="col-md-12 col-xs-12">

                        <br>

                        <p style="font-size: medium; font-weight: bold  ">Why You Should Buy a Car From Us</p>

                        <p style="font-size: medium; font-size: 14px;">{{ profile.usefulinformation.whyBuyaCar }}</p>

                        <br>

                        <p style="font-size: medium; font-weight: bold  ">Dealer Disclaimer</p>

                        <p style="font-size: medium; font-size: 14px;">{{ profile.usefulinformation.Disclaimer }}</p>

                    </div>
                </div>

            </div>
            <br>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    {% if profile.feeds is defined and profile.feeds is not null %}
                        <ul>
                            <li style="font-size: medium; font-weight: bold  "> Social Media Links</li>
                            <li style="font-size: medium; font-weight: bold  "><a
                                        href="{{ profile.feeds.getFacebook() }}"> <span
                                            style="font-size: 14px; color:#006dcc;">{{ profile.feeds.getFacebook() }}</span></a><a
                                        href="{{ profile.feeds.getTwitter() }}"><span>&nbsp;&nbsp;</span> <span
                                            style="font-size: 14px; color:#006dcc;">{{ profile.feeds.getTwitter() }}</span></a>
                            </li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="ratingsandreviews_panel">
        <div id="loading_dealer" class="hide">
            <img src="{{ asset('bundles/common/images/loading.gif') }}"/><span class="text-info">Loading...</span>
        </div>
        {{ include('AdminBundle:DealerForm:reviews-content.html.twig') }}
    </div>
</div>

<div class="col-md-12" style="height: 10px;margin-top: 20px"></div>

<script type="text/javascript">
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map-canvas'), {
            zoom: 8,
            center: {lat: -34.397, lng: 150.644}
        });
        var geocoder = new google.maps.Geocoder();


        geocodeAddress(geocoder, map);

    }

    function geocodeAddress(geocoder, resultsMap) {
        var address = document.getElementById('address').textContent;
        geocoder.geocode({'address': address}, function (results, status) {
            if (status === google.maps.GeocoderStatus.OK) {
                resultsMap.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: resultsMap,
                    position: results[0].geometry.location
                });
            } else {
                alert('Geocode was not successful for the following reason: ' + status);
            }
        });
    }

    jQuery(document).ready(function () {
        /**
         *  request the controller with all the filters values when one year has been selected
         * */
        jQuery('.year_link').click(function () {
            var text = $(this).text();
            var year_id = $(this).attr("year_id");
            $("#year_list").find(".selected").text(text);
            $("#year_list").find(".selected").attr("year_id", year_id);
            loadVehicles(1);
        });

        /**
         *  request the controller with all the filters values when one make has been selected
         * */
        jQuery('.make_link').click(function () {
            var text = $(this).text();
            var make_id = $(this).attr("make_id");
            $("#make_list").find(".selected").attr("make_id", make_id);
            $("#make_list").find(".selected").text(text);
            loadVehicles(1);
        });

        /**
         *  request the controller with all the filters values when one sort option has been selected
         * */
        jQuery('.sort_link').click(function () {
            var text = $(this).text();
            var sort_id = $(this).attr("sort_id");
            $("#sort_list").find(".selected").attr("sort_id", sort_id);
            $("#sort_list").find(".selected").text(text);
            loadVehicles(1);
        });

        /**
         *  request the controller with all the filters values when one sort option has been selected
         * */
        jQuery('.view_link').click(function () {
            var text = $(this).text();
            var view_id = $(this).attr("view_id");
            $("#view_list").find(".selected").attr("view_id", view_id);
            $("#view_list").find(".selected").text(text);
            loadVehicles(1);
        });

        /**
         *  Active tab buttons on click event
         * */
        jQuery(".tab_button").click(function () {
            $(this).addClass("tabactive");
            $(".tab_button").not(this).removeClass("tabactive");

            if ($(this).attr("id") == 'invent') {
                $("#down_arrow_1").removeClass("hidden");
                $("#down_arrow_2").addClass("hidden");
                $("#down_arrow_3").addClass("hidden");

            } else if ($(this).attr("id") == 'about') {
                $("#down_arrow_2").removeClass("hidden");
                $("#down_arrow_1").addClass("hidden");
                $("#down_arrow_3").addClass("hidden");
            } else {
                $("#down_arrow_3").removeClass("hidden");
                $("#down_arrow_1").addClass("hidden");
                $("#down_arrow_2").addClass("hidden");
            }


        });

        jQuery(".ratingoption").jRating({
            isDisabled: true
        });

        jQuery('#customerrating,#pricerating,#overallrating,#facilitiesrating').jRating({
            length: 5,
            decimalLength: 1, // number of decimal in the rate
            showRateInfo: false,
            canRateAgain: true,
            nbRates: 3,
            sendRequest: false,
            onClick: function (element, rate) {
                var currentrating = "";
                switch (element.id) {
                    case "customerrating":
                        currentrating = "#review_customerservice";
                        break;
                    case "pricerating":
                        currentrating = "#review_price";
                        break;
                    case "overallrating":
                        currentrating = "#review_overall";
                        break;
                    case "facilitiesrating":
                        currentrating = "#review_facilities";
                        break;
                }
                jQuery(currentrating).val(rate);
            }
        });
    })
    function loadVehicles(start) {
        $("#loading").removeClass("hide");
        var year_id = $("#year_list").find(".selected").attr("year_id");
        var make_id = $("#make_list").find(".selected").attr("make_id");
        var sort_id = $("#sort_list").find(".selected").attr("sort_id");
        var limit = $("#view_list").find(".selected").attr("view_id");
        $('#dealer_vehicles_content').load('{{ path('dealer_vehicles_content', {'prop_pk': prop_pk}) }}', {
            start: start,
            limit: limit,
            year: year_id,
            sort: sort_id,
            make: make_id
        }, function (data) {
            $("#loading").addClass("hide");
            $('#dealer_vehicles_content').html(data);
        });
    }

    function loadReview(start) {
        $("#loading_dealer").removeClass("hide");
        $('#containerReview').load('{{ path('dealer_reviews',{'prop_pk': prop_pk}) }}', {
            start: start,
            profile_id: '{{ profile.id }}'
        }, function (data) {
            $("#loading_dealer").addClass("hide");
            $('#containerReview').html(data);
        });
    }
    jQuery("#dealer_vehicles_content").on("click", ".pagination span a", function () {
        var url = $(this).attr("href");
        var currentvalue = url.split("page=")[1];
        loadVehicles(currentvalue);
        return false;
    });
    jQuery("#containerReview").on("click", ".pagination span a", function () {
        var url = $(this).attr("href");
        var currentvalue = url.split("page=")[1];
        //alert(currentvalue)
        loadReview(currentvalue);
        return false;
    });

</script>
<script src="https://maps.googleapis.com/maps/api/js?signed_in=true&callback=initMap" async defer></script>
