<style>
#inquiries-container .carousel-control {
    background-color: transparent;
    height: 100%;
    position: relative;
    opacity: 1
}

.btn-default {
    background-color: rgba(68, 70, 71, 0.79);
    color: white;
    border: none;
}

.btn-default.focus, .btn-default:focus {
    background-color: rgba(55, 57, 58, 0.85);
    color: white;
    border: none;
}

.btn-default:hover {
    background-color: rgba(52, 54, 55, 0.85);
    color: white;
    border: none;
}

.btn-default.active, .btn-default:active, .open > .dropdown-toggle.btn-default {
    background-color: rgba(52, 54, 55, 0.85);
    color: white;
    border: none;
}

.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open > .dropdown-toggle.btn-default.focus, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover {
    background-color: rgba(52, 54, 55, 0.85);
    color: white;
    border: none;
}

.btn-default.active, .btn-default:active, .open > .dropdown-toggle.btn-default {
    background-image: none
}

.email_buttons {
    padding: 90px;
    position: absolute;
    background-color: rgba(254, 254, 254, 0.54) !important;
    margin-left: -15px;
    height: 100%;
}

hr {
    width: 100%;
    margin-bottom: 0px;
    margin-top: 8px;
    border-width: thin;
    border-color: #000000;
}

.hr_text {
    position: relative;
    left: 47%;
    padding-left: 2px;
    padding-right: 2px;
    background-color: white;
    bottom: 11px;
}

.details dl {
    margin-bottom: 0px;
    margin-top: 5px;
}

.details span {
    margin-bottom: 6px;
}

.details dl > dt, dd {
    font-weight: normal;
    text-align: left;
}

.details dl dt {
    width: 108px;
}

.details dl dd {
    margin-left: 100px;
}

#myTabContent {
    background-color: #ffffff;
    border: 1px solid #CCCCCC;
    border-top-color: transparent;
}

ul.nav-tabs {
    margin-bottom: 0px;
}

ul.nav-tabs li a {
    background-color: #ffffff;
    border: 1px solid #CCCCCC;
    border-radius: 0px;
    padding: 4px 15px
}

ul.nav-tabs li.active a {
    border: 1px solid #CCCCCC;
    border-bottom-color: transparent;
}

.list_styled {
    -webkit-padding-start: 32px;
    list-style-type: disc;
}

.list_styled li {
    display: list-item;
}

.properties-container .col-md-4 {
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.dl-horizontal dt {
    font-weight: bold !important;
    font-size: 13px;
}

.dl-horizontal dd {
    min-height: 33px;
    font-size: 13px;
}

.panel-group {
    margin-bottom: 0px;
    font-size: 20px;
}

#accordion .panel {
    border-color: #b4b4b4;
    border-radius: 0px;
    margin-top: 0px !important;
}

.panel .panel-default {
    border: none;
    border-top: 1px solid #c6c6c6;
}

.list-group {
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.list-item.active {
    background-color: #f5f5f5;
    color: #f83838;
}

.list-item {
    padding: 10px 30px;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 14px;
    border: 0px;
    border-radius: 0px;
    background-color: #f4f4f4;
}

.list-item a {
    text-decoration: none;
    color: #000000;
    padding-left: 3px;
}

#accordion .panel .panel-heading {
    background-color: #e5e5e5;
}

.panel-heading {
    padding: 10px 15px;
    font-size: 80%;
    border-radius: 0px;
    background-color: #e5e5e5;
}

.panel-heading .badge {
    display: inline-block;
    min-width: 17px;
    padding: 4px 4px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777 !important;
    border-radius: 12px;
}

.panel-heading .badge span {
    font-size: 11px;
    top: 0px !important;
}

.movil_car_display {
    background-color: #ffffff;
    padding: 7px 0px;
    font-size: 13px;
    border-bottom: 1px solid rgba(218, 218, 218, 0.91);
    border-top: 1px solid rgba(218, 218, 218, 0.91);
}

.nav-dash {
    border-left: 1px solid transparent !important;
    border-right: 1px solid transparent !important;
    padding-bottom: 4px !important;
    margin-bottom: 0px;
}

</style>

<div class="row">
    <div class="container-fluid visible-md visible-lg hidden-xs hidden-sm">
        <div class="col-md-12"
             style="padding-top: 15px;padding-bottom: 15px;margin-top: 20px;background-color: #ffffff;">
            <div class="col-md-6 no_padding">
                <div class="row">
                    <div class="col-md-4" style="padding: 0px 15px">
                        <div class="thumbnail">
                            <img class="img-responsive" src="{{ asset( 'bundles/common/images/for-sale.jpg' ) }}"
                                 alt="..." style="width: 100%">
                        </div>
                    </div>
                    <div class="col-md-6 no_padding">
                        <div style="line-height: 0.5em">
                            <h3 style="margin-top: 0px;margin-bottom: 0px; font-weight: 500;color: black">Private
                                Seller</h3>
                            <br>
                            <a class="blue_link" href="">listed cars <span>{{ count_vehicles }}</span> cars</a>
                        </div>
                        <div class="clearfix"></div>
                        <div style="margin-top: 15px;font-size: 14">
                            <span style="font-size: 15px;font-weight: 400">{{ user.phone }}</span><br/>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-4">
                        <a href="#" style="font-size: 12px;"
                           class="btn btn_edit btn-block">Edit Account</a>
                    </div>
                    <div class="col-md-6 no_padding" style="margin-top: -7px;">
                        <span style="font-size: 15px;font-weight: 400">{{ views }} Views</span><br/>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-5 col-xs-12 text-center no_padding pull-right" id="map-canvas"
                 style="height: 143px;">
            </div>
        </div>
    </div>
</div>

<div id="inquiries-container" class="container-fluid no_padding visible-md visible-lg hidden-xs hidden-sm">

    <div class="col-md-12 no_padding">
        <div class="pull-left" style="padding-top: 6px;padding-bottom: 6px">
            <span class="bold_text"
                  style="color:#000000">Inquiries ( {{ app.session.get('email_news') + app.session.get('email_offers') }}
                new)</span>
        </div>
        <div class="pull-right col-md-1" style="padding: 2px 14px 0px 28px;">
            {% if emails|length > 3 %}
                <a class="carousel-control pull-left" href="#inquiries_carrusel" data-slide="prev">
                    <span class="glyphicon glyphicon-triangle-left" style="color: #000000"></span>
                </a>
                <a class="carousel-control pull-right" href="#inquiries_carrusel" data-slide="next">
                    <span class="glyphicon glyphicon-triangle-right" style="color: #000000"></span>
                </a>
            {% endif %}
        </div>
    </div>


</div>

<div id="inquiries" class="container-fluid no_padding visible-md visible-lg hidden-xs hidden-sm">

    <div id="inquiries_carrusel" class="carousel slide" data-interval="false" data-ride="carousel">

        <!-- Bloque para las imágenes -->
        <div class="carousel-inner">
            {% set total_emails = emails|length %}
            {% set count = 0 %}
            {% set step_ = 0 %}
            {% if(total_emails==1) %}
                {% set step_ = 1 %}
                {% set jump = 1 %}
                {% set rest = 1 %}
            {% endif %}
            {% if(total_emails==2) %}
                {% set step_ = 2 %}
                {% set jump = 2 %}
                {% set rest = 0 %}
            {% endif %}
            {% if(total_emails >=3) %}
                {% set step_ = 3 %}
                {% set jump = 3 %}
                {% set rest = 0 %}
            {% endif %}

            {% if(step_ >0) %}
                {% for i in range(low=0, high=total_emails-rest, step=step_) %}
                    <div class="row_cars carrusel_tumb old item  {% if loop.first %} active {% endif %}">
                        {% for emails_n in emails|slice( i, jump ) %}

                            <div class="col-md-4 {% if loop.first %} first {% elseif loop.last %} last {% else %} middle {% endif %}"
                                 style="min-width: 317.766px ; min-height: 376px ">
                                <div class="col-md-12 previewbox borderBoxShadows"
                                     style="padding-bottom: 10px;padding-top: 10px;background-color: #ffffff">
                                    <div class="col-md-12 email_buttons hide">
                                        <a id="read{{ emails_n.id }}"
                                           image="<a class='thumbnail pull-left' style='margin-bottom: 0px'> {% if emails_n.vehicle.gallery is not null %} {% set pf = emails_n.vehicle.gallery.vehicleimages[0] %} <img src='{{ asset(pf.getwebpaththumbnailVehicle(emails_n.user.id,emails_n.vehicle.serie)) }}' class='img-responsive'/>{% else %} <img src='{{ asset('bundles/common/images/image-bg.jpg') }}' class='img-responsive' style='width: 100%'/> <br/>{% endif %}"
                                           vehiclesinformation="{{ emails_n.vehicle.vehiclesinformation.condition.name }}&nbsp;{{ emails_n.vehicle.vehiclesinformation.year.year }}&nbsp;{{ emails_n.vehicle.vehiclesinformation.make.makedisplay }}<br><span class='bold_text_black'>Price: ${{ emails_n.vehicle.vehiclesinformation.price|number_format() }}</span>"
                                           vehiclesinformation1="Milage: {{ emails_n.vehicle.vehiclesinformation.mileage }}<br/>Color: {{ emails_n.vehicle.vehiclesdetails.exteriorcolor }}<br/>Stock #: {{ emails_n.vehicle.vehiclesinformation.stockNumber }}<br/>"
                                           image_user="{% if emails_n.profile %}{% if(emails_n.profile.logo is not null) %}<div class='col-md-8' style='padding-left: 0px !important;'><div class='thumbnail'><div class='logo img-responsive' style='background-image:url('{{ asset(emails_n.profile.logo) }}');height: 120px;width:100%'></div></div></div>{% else %}<div class='col-md-8' style='padding-left: 0px !important;'><div class='thumbnail'><div class='logo img-responsive' style='background-image:url('{{ asset('bundles/common/images/image-bg.jpg') }}');height: 120px;width:100%'></div></div></div>{% endif %}<div class='caption col-md-12 col-sm-12 col-xs-12' style='padding-left: 0px'><a href='{{ path('profile_view',{'prop_pk':emails_n.profile.serie }) }}'class='blue_text'>{{ emails_n.profile.description.name }}</a></div>{% else %}<img class='col-md-6 col-sm-3 col-xs-5 logo img-responsive'src='{{ asset('bundles/common/images/for-sale.jpg') }}' style='padding-left: 0px'><div class='caption col-md-12 col-sm-12 col-xs-12' style='padding-left: 0px;padding-right: 0px'><a href='{{ path('my_account') }}'class='blue_text'>{{ emails_n.user.name }}</a></div>{% endif %}"
                                           email_inf1="<span class='date'> {{ emails_n.datecreated | date('M d, Y - h:i a') }}</span><br/><span class='bold_text_black'> {{ emails_n.remitentname }}:</span>"
                                           email_inf2="<span class=''>Email:</span> <span class='blue_link'>{{ emails_n.remitentMail }}</span><br/><span class=''>Phone:</span> <span class='blue_link'> {{ emails_n.remitentphone }}</span>"
                                           email_inf3=" {% if emails_n.offer %}<h3>Offer: ${{ emails_n.offertext }} </h3>{% else %}<span>{{ emails_n.bodymail }}</span>{% endif %}"
                                           data-toggle="modal"
                                           data-target="#myModalInquiryListRead"
                                           class="btn btn-default btn-block text-center text-uppercase read">
                                            <small>Read</small>
                                        </a>
                                        <a id="{{ emails_n.id }}" name="{{ emails_n.remitentname }}"
                                           offer="<h3>Offer: ${{ emails_n.offertext }} </h3>"
                                           body="{{ emails_n.bodymail }}"
                                           data-toggle="modal"
                                           data-target="#myModalInquiryListReply"
                                           class="btn btn-default btn-block text-center text-uppercase reply">
                                            <small>Reply</small>
                                        </a>
                                    </div>
                                    <div class="thumbnail" style="margin-bottom: 0px;">


                                        {% if emails_n.vehicle.gallery is not null %}
                                            {% set pf = emails_n.vehicle.gallery.vehicleimages[0] %}
                                            <a href="javascript:void(0)" class="thumbnail" style="margin-bottom: 0px ">
                                                <img src="{{ asset(pf.getwebpaththumbnailVehicle(user.id,emails_n.vehicle.serie)) }}"
                                                     alt=""
                                                     class="img-responsive"/>
                                            </a>
                                        {% else %}
                                            {% set pf = 0 %}
                                            <a href="javascript:void(0)" class="thumbnail" style="margin-bottom: 0px ">
                                                <img src="{{ asset('bundles/common/images/image-bg.jpg') }}"
                                                     alt=""
                                                     class="img-responsive" style="width: 100%;height: 201px"/>
                                            </a>
                                        {% endif %}


                                        <div class=" caption " style="padding-right: 0px;padding-left: 0px">
                                            <a href="#" class="pull-left blue_text"
                                               style="text-decoration: no-underline;">{{ emails_n.vehicle.vehiclesinformation.condition.name }} {{ emails_n.vehicle.vehiclesinformation.getYear() }} {{ emails_n.vehicle.vehiclesinformation.getMake() }} {{ emails_n.vehicle.vehiclesinformation.getModel().modelDisplay }}</a>
                                            <br>
                                            <span class="pull-left bold_text_black">${{ emails_n.vehicle.vehiclesinformation.price|number_format() }}</span>
                                        </div>

                                        <div class="row line_with_image" style="margin-top: 10px">
                                            <hr/>
                                            <a href="{{ path('user_email_content' ,{'mail_id':emails_n.id}) }}"
                                               mail_id="{{ emails_n.id }}"
                                               class="line_icon
                                            {% if emails_n.offer %}
                                            icon-offer
                                        {% else %}
                                            {% if emails_n.opened == 1 %}
                                                messageicon
                                            {% else %}
                                                messageicon_new
                                            {% endif %}
                                            {% endif %}"></a>
                                        </div>

                                        <div class="clearfix">
                                            <span class="date"> {{ emails_n.datecreated | date("M d, Y - h:i a") }}</span><br>
                                            <span class="user_name bold_text_black"
                                                  style="color: #000000;">{{ emails_n.remitentname }}{% if emails_n.offer %}'s Offer:{% endif %}</span><br>
                                            {% if emails_n.offer %}
                                                <span class="blue_text"
                                                      style="font-size: 14px ">${{ emails_n.offertext }}</span>
                                            {% else %}
                                                {% if  emails_n.bodymail|length < 35 %}
                                                    <span style="font-size: 14px ">{{ emails_n.bodymail }}...</span>
                                                {% else %}
                                                    {% set bodyMail = emails_n.bodymail|split('', 35) %}
                                                    <span style="font-size: 14px ">{{ bodyMail[0] }}...</span>
                                                {% endif %}
                                            {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        {% endfor %}
                        {% set count = count + 3 %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

</div>

<div class="col-md-12 visible-md visible-lg hidden-xs hidden-sm" style="background-color: #ffffff;margin-top: 15px">

    <nav class="navbar" role="navigation"
         style="background-color: white;border-radius: 0px;padding: 5px 0px;margin-bottom: 0px;min-height: 46px;">
        <div class="collapse navbar-collapse navbar-ex1-collapse"
             style="padding-left: 0px;padding-right: 0px;padding-top: 3px;">
            <div class="col-md-2 no_padding">
                <ul class="nav navbar-nav pull-left" id="input_search" style="margin: 0;">
                    <li>
                        <a href="{{ path('private_create_vehicle_basic_info',{'type':'open' , 'vehicle_id': 'new' }) }}"
                           class="navbar-text brand text-uppercase blue_link "
                           style="font-size: 11px ;font-weight: 600;margin-bottom: 0px;margin-top: 0px;padding-left: 0px;margin-left: 0px;">[add
                            a new
                            car]</a>
                    </li>
                </ul>

            </div>

            <div class="col-md-10 no_padding pull-right text-right">
                {{ include('CommonBundle:Default:filters.html.twig') }}
            </div>


        </div>
    </nav>

</div>

<div id="user_vehicles_content" class="visible-md visible-lg">

    {{ include('PrivateSellerBundle:Default:user-vehicles-content.html.twig') }}

</div>

<div class="modal fade" id="myModalInquiryListReply" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Reply Form</h4>

                <div class="alert hide" id="succes_reply"
                     style="background-color: #0cffdd">
                    <button type="button" class="close"
                            data-dismiss="alert">&times;</button>

                    <strong>Succes!</strong> Your Email has been replied
                    succesfully....
                </div>
            </div>
            <div class="modal-body">
                <div class="col-md-7 col-sm-8 col-xs-9" style="padding-left: 0px !important;">
                    <p>
                        <span class="bold_text_black" id="remitent"></span>
                    </p>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 text-left" id="content"
                     style="max-resolution: 15px;padding-left: 0px !important;margin-top: 0px !important;">
                </div>
                <form id="formListReply" action="{{ path('save_inquiry_reply') }}"
                      method="POST" class="form-horizontal">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">Reply</div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <textarea id="inquiryReply_text" class="form-control description disabled" rows="6"
                                      maxlength="2000" required="required" name="inquiryReply[text]"></textarea>
                        </div>
                    </div>

                    <input type="hidden" id="id" name="id" value="">
                </form>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        <div id="error"></div>
                    </div>
                    <div class="col-md-5 col-sm-5 col-xs-12">
                        <button type="button" class="btn btn-default close-btn" data-dismiss="modal">Close
                        </button>
                        <button type="button" class="btn btn-primary confirm-send">Reply</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModalInquiryListRead" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="border-radius: 0px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Read Email</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div style="margin-left:15px;margin-right: 15px">
                        <div class="borderBoxShadows col-md-12 col-xs-12 col-lg-12"
                             style="background-color: white; padding:15px">
                            <div class="col-md-4 col-xs-4 col-lg-4 no_padding">
                                <div class="thumbnail" style="margin-bottom: 10px;">
                                    <div id="vehicle_image"></div>
                                    <div class="clearfix"></div>
                                    <div class="caption" style="margin-bottom: 10px;padding-left: 0px;">
                                        <p id="vehiclesinformation" style='display: inline-block;margin-top: 10px'></p>

                                        <p id="vehiclesinformation1"></p>

                                        <div class="thumbnail" style="margin-bottom: 0px" id="image_user"></div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-8 col-xs-8 col-lg-8">
                                <div class="col-md-12 col-sm-12 col-xs-12 no_padding">
                                    <p id="email_inf1"></p>

                                    <p style="margin-top: 10px" id="email_inf2"></p>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 text-left no_padding"
                                     style="max-resolution: 15px;" id="email_inf3"></div>
                            </div>

                        </div>
                        <br>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        <div id="error"></div>
                    </div>
                    <div class="col-md-5 col-sm-5 col-xs-12">
                        <button type="button" class="btn btn-default close-btn" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!------------------------------------ MOBILE Code ---------------------------------->
<div class="row visible-xs visible-sm hidden-md hidden-lg">
    {#<div class="container-fluid" style="margin-bottom: 20px">#}
        <div class=""
             style="background-color: #f4f4f4;margin-bottom: 20px">
            <div class="col-xs-5 col-sm-5">
                <div class="thumbnail">
                    <img class="img-responsive" src="{{ asset( 'bundles/common/images/for-sale.jpg' ) }}"
                         alt="..." style="width: 100%">
                </div>
            </div>
            <div class="col-xs-7 col-sm-7 text-left no_padding">
                <div style="line-height: 0.5em">
                    <h3 style="margin-top: 0px;margin-bottom: 0px; font-weight: 500;color: black">Private
                        Seller</h3>
                    <br>
                    <a class="blue_link" href="">listed cars <span>{{ count_vehicles }}</span> cars</a>
                </div>
                <div class="clearfix"></div>
                <div style="margin-top: 15px;font-size: 14">
                    <span style="font-size: 15px;font-weight: 400">{{ user.phone }}</span><br/>
                </div>
                <div class="clearfix"></div>
                <div class="col-xs-8" style="padding-left: 0px">
                    <a href="#" style="font-size: 12px;" class="btn btn_edit btn-block">Edit Account</a>
                </div>
            </div>
        </div>
    {#</div>#}
</div>
<div class="row visible-xs visible-sm ">
    {{ include('PrivateSellerBundle:Default:user-menu-movil.html.twig') }}
</div>

<!------------------------------------ END MOBILE Code ---------------------------------->

<script type="text/javascript">
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map-canvas'), {
            zoom: 8,
            center: {lat: -34.397, lng: 150.644}
        });
        var geocoder = new google.maps.Geocoder();


        geocodeAddress(geocoder, map);

    }

    function geocodeAddress(geocoder, resultsMap) {
        var address = document.getElementById('address').textContent;
        geocoder.geocode({'address': address}, function (results, status) {
            if (status === google.maps.GeocoderStatus.OK) {
                resultsMap.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: resultsMap,
                    position: results[0].geometry.location
                });
            } else {
                alert('Geocode was not successful for the following reason: ' + status);
            }
        });
    }

    jQuery(document).ready(function () {
        /**
         *  request the controller with all the filters values when one year has been selected
         * */
        jQuery('.year_link').click(function () {
            var text = $(this).text();
            var year_id = $(this).attr("year_id");
            $("#year_list").find(".selected").text(text);
            $("#year_list").find(".selected").attr("year_id", year_id);
            loadVehicles(1);
        });

        /**
         *  request the controller with all the filters values when one make has been selected
         * */
        jQuery('.make_link').click(function () {
            var text = $(this).text();
            var make_id = $(this).attr("make_id");
            $("#make_list").find(".selected").attr("make_id", make_id);
            $("#make_list").find(".selected").text(text);
            loadVehicles(1);
        });

        /**
         *  request the controller with all the filters values when one sort option has been selected
         * */
        jQuery('.sort_link').click(function () {
            var text = $(this).text();
            var sort_id = $(this).attr("sort_id");
            $("#sort_list").find(".selected").attr("sort_id", sort_id);
            $("#sort_list").find(".selected").text(text);
            loadVehicles(1);
        });

        /**
         *  request the controller with all the filters values when one sort option has been selected
         * */
        jQuery('.view_link').click(function () {
            var text = $(this).text();
            var view_id = $(this).attr("view_id");
            $("#view_list").find(".selected").attr("view_id", view_id);
            $("#view_list").find(".selected").text(text);
            loadVehicles(1);
        });

        /**
         *  Active tab buttons on click event
         * */
        jQuery(".tab_button").click(function () {
            $(this).addClass("tabactive");
            $(".tab_button").not(this).removeClass("tabactive");

            if ($(this).attr("id") == 'invent') {
                $("#triangle_1").removeClass("hidden");
                $("#triangle_2").addClass("hidden");
                $("#triangle_3").addClass("hidden");

            } else if ($(this).attr("id") == 'about') {
                $("#triangle_2").removeClass("hidden");
                $("#triangle_1").addClass("hidden");
                $("#triangle_3").addClass("hidden");
            } else if (($(this).attr("id") == 'warranty')) {
                $("#triangle_3").removeClass("hidden");
                $("#triangle_1").addClass("hidden");
                $("#triangle_2").addClass("hidden");
            }
        });


    });

    function loadVehicles(start) {
        $("#loading").removeClass("hide");
        var year_id = $("#year_list").find(".selected").attr("year_id");
        var make_id = $("#make_list").find(".selected").attr("make_id");
        var sort_id = $("#sort_list").find(".selected").attr("sort_id");
        var limit = $("#view_list").find(".selected").attr("view_id");
        $('#user_vehicles_content').load('{{ path('user_vehicles_content', {'user_id': user.id}) }}', {
            start: start,
            limit: limit,
            year: year_id,
            sort: sort_id,
            make: make_id
        }, function (data) {
            $("#loading").addClass("hide");
            $('#dealer_vehicles_content').html(data);
        });
    }

    jQuery("#user_vehicles_content").on("click", ".pagination span a", function () {
        var url = $(this).attr("href");
        var currentvalue = url.split("page=")[1];
        loadVehicles(currentvalue);
        return false;
    });

</script>
<script type="text/javascript">
    jQuery(document).ready(function () {

        jQuery('.read').click(function () {
            jQuery('#vehicle_image').html(jQuery(this).attr('image'));
            jQuery('#vehiclesinformation').html(jQuery(this).attr('vehiclesinformation'));
            jQuery('#vehiclesinformation1').html(jQuery(this).attr('vehiclesinformation1'));
            jQuery('#image_user').html(jQuery(this).attr('image_user'));
            jQuery('#email_inf1').html(jQuery(this).attr('email_inf1'));
            jQuery('#email_inf2').html(jQuery(this).attr('email_inf2'));
            jQuery('#email_inf3').html(jQuery(this).attr('email_inf3'));
        });

        jQuery('.reply').click(function () {
            jQuery("#succes_reply").addClass("hide");
            jQuery('#remitent').html(jQuery(this).attr('name') + ':');
            jQuery('#id').val(jQuery(this).attr('id'));
            if (jQuery(this).attr('body') != null && jQuery(this).attr('body') != '') {
                jQuery('#content').html('<span>' + jQuery(this).attr('body') + '</span>');
            } else {
                jQuery('#content').html(jQuery(this).attr('offer'));
            }
        });

        function disableFormReadReply() {
            jQuery('#myModalInquiryListReply #formListReply').find('textarea').attr('disabled', 'disabled')
            jQuery("#myModalInquiryListReply #formListReply").css("opacity", 0.37);
        }

        function enableFormReadReply() {
            jQuery('#myModalInquiryListReply #formListReply').find('textarea').val('');
            jQuery('#myModalInquiryListReply #formListReply').find('textarea').removeAttr('disabled');
            jQuery("#myModalInquiryListReply #formListReply").css("opacity", 1);
        }

        function submitFormReadReply() {

            jQuery.ajax({
                statusCode: {
                    500: function () {
                        jQuery("#succes_reply").addClass("hide");
                        jQuery('#myModalInquiryListReply #error').html("<span class='glyphicon glyphicon-warning-sign' style='margin-right:15px;color:#d9534f'></span><span class='text-danger'>There was an error, try again</span>");
                    }
                },
                url: jQuery('#myModalInquiryListReply #formListReply').attr('action'),
                type: "POST",
                data: {id: jQuery("#id").val(), text: jQuery('#myModalInquiryListReply #inquiryReply_text').val()},
                async: false,
                success: function (response) {
                    jQuery("#succes_reply").removeClass("hide");
                    enableFormReadReply();
                }
            });
        }

        jQuery('#myModalInquiryListReply .confirm-send').click(function (e) {
            validateFormReadReply();

        });
        jQuery('#myModalInquiryListReply').find('textarea').each(function () {
            jQuery(this).focusout(function () {
                jQuery(this).popover('destroy');
            });
        });
        function validateFormReadReply() {
            var bValid = true;
            bValid = bValid && checkLength(jQuery('#myModalInquiryListReply #inquiryReply_text'), 5, 500);
            if (bValid) {
                disableFormReadReply();
                submitFormReadReply();
            }
        }

        function checkLength(o, min, max) {
            if (o.val().length < min) {
                createPopover(o, 'Please fill out this field');
                return false;
            } else {
                return true;
            }
        }

        function createPopover(elem, text) {
            elem.attr('data-toggle', 'popover');
            elem.attr('data-placement', 'bottom');
            elem.attr('data-content', text);
            elem.attr('data-container', 'body');
            elem.popover();
            elem.trigger('click');
            elem.focus();
        }

        jQuery(".previewbox").mouseover(function () {
            jQuery(this).find(".line_icon").css("opacity", 0.5);
            jQuery(this).find(".email_buttons").removeClass("hide").fadeIn();
        });

        jQuery(".previewbox").mouseout(function () {
            jQuery(this).find(".line_icon").css("opacity", 1);
            jQuery(this).find(".email_buttons").addClass("hide");
        });

        jQuery("#select_car").change(function () {
            //jQuery("h2").next().fade();
            var car_serie = this.value;
            jQuery.post("{{ path('find_car') }}", {
                serie: car_serie
            }, function (response) {
                alert(response.success);
                //  jQuery("h2").next().fadeToggle();
            }, "json");
        });


    });
</script>
<script src="https://maps.googleapis.com/maps/api/js?signed_in=true&callback=initMap" async defer></script>