<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome Support{% endblock %}</title>

        {% block stylesheets %}
        <link href="{{ asset('bundles/common/css/bootstrap.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/common/css/jquery-ui-1.10.4.custom.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/common/css/style.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/common/font-awesome/css/font-awesome.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/common/css/jRating.jquery.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/common/css/fullcalendar.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/common/css/fullcalendar.print.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/common/css/jquery.bxslider.min.css') }}" rel="stylesheet">
        {% endblock %}
        {% block javascripts %}
                        <script src="{{ asset('bundles/common/js/jquery.js') }}"></script>
                        <script src="{{ asset('bundles/common/js/jquery-ui-1.10.4.js') }}"></script>
                        <script src="{{ asset('bundles/common/js/bootstrap.min.js') }}"></script>
                        <script src="{{ asset('bundles/common/js/carousel.js') }}"></script>
                        <script src="{{ asset('bundles/common/js/transition.js') }}"></script>
                        <script src="{{ asset('bundles/common/js/jRating.jquery.js') }}"></script>
                        <script src="{{ asset('bundles/common/js/fullcalendar.js') }}"></script>
                         <script src="{{ asset('bundles/common/js/tooltip.js') }}"></script>
                        <script src="{{ asset('bundles/common/js/popover.js') }}"></script>
                        <script src="{{ asset('bundles/common/js/jquery.bxslider.min.js') }}"></script>
                         <script src="{{ asset('bundles/common/js/ckeditor.js') }}"></script>
                   

        {% endblock %}

         <link rel="icon" type="image/x-icon" href="{{ asset('bundles/common/images/HomeEscapeFav.png') }}" />

    </head>


    <body>
        {% block header %}{{ include('CommonBundle:Default:header-admin.html.twig') }}{% endblock %}
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-12 col-xs-12 text-center" style="background-color: #f4f4f4; margin-bottom: 0px;border-bottom: solid 1px;  border-bottom-color: #cccccc; padding-top: 10px; padding-bottom: 10px"> 
        {% block menu %}  {{ include('SupportAdminBundle:Default:admin-tools.html.twig') }}{% endblock %}
                        </div>

                    <div class="col-md-12 col-xs-12 text-center" style="background-color: #FFFFFF; border-bottom: solid 0px;  border-bottom-color: #cccccc; padding-top: 5px; padding-bottom: 20px; margin-bottom: 10px"> 
        {% block filters %} {% endblock %}
                        </div>
                        <div class="col-md-12 col-xs-12">
                            <div id="content-page" style="min-height: 700px">
                                
                            {% block body %}{% endblock %}
                            </div>
                        </div>

                            </div>
                        </div>
        {% block footer %}{{ include('CommonBundle:Default:footer.html.twig') }} {% endblock %}


       


                    </body>
                </html>
