{% if form_errors(form.email) %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3 text-center text-danger alert alert-danger"
                 role="alert">{{ form_errors(form.email) }}</div>
        </div>
    </div>
{% endif %}

{% if form_errors(form.plainPassword) %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3 text-center text-danger alert alert-danger"
                 role="alert">{{ form_errors(form.plainPassword) }}</div>
        </div>
    </div>
{% endif %}
<div class="container-fluid">
    <div class="container">
        <div class="row" style="margin-top: 30px">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 no_padding">
                    <a href="javascript:void(0);" style="font-size:80%;font-weight: bold;border-radius: 0px"
                       class="btn btn-lg btn-block text-uppercase panel_left_different">
                        We are 100% free!<span style="color: #000000"> Curious why?</span>
                    </a>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center login-form-container">
                <form id="form-register" action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }}
                      method="POST" class="form-horizontal" style="margin-top: 20px">
                    <div class="tabbable">
                        <ul class="nav nav-tabs">
                            <li id="shopper_tab" {% if currenttab == 1 %} class="active"  {% endif %}><a aria-expanded="false" href="#dealer"
                                                                   data-toggle="tab">Register</a></li>
                            <li id="dealership_tab" {% if currenttab == 2 %} class="active"  {% endif %} ><a aria-expanded="false" href="#dealer" data-toggle="tab">Register
                                    as a
                                    Dealerschip</a></li>
                            <li id="private_seller_tab" {% if currenttab == 3 %} class="active"  {% endif %} ><a aria-expanded="true" href="#dealer" data-toggle="tab">Register
                                    as a
                                    Private Seller</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content tab_borders">
                            <div class="tab-pane fade active in" id="dealer">
                                <fieldset>
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('registration') }}">

                                    <div class="form-group">

                                        <div class="col-sm-12 text-danger">
                                            {{ form_errors(form.name) }}
                                            {{ form_errors(form.lastname) }}
                                            {{ form_errors(form.plainPassword) }}
                                            {{ form_errors(form.phone) }}
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-bottom: 10px">

                                        <div class="col-sm-5 col-md-5 col-md-offset-1 col-sm-offset-1"
                                             style="margin-bottom: 10px">
                                            {{ form_widget(form.name) }}
                                        </div>
                                        <div class="col-sm-5 col-md-5">
                                            {{ form_widget(form.lastname) }}
                                        </div>
                                    </div>


                                    <div class="form-group" style="margin-bottom: 10px">

                                        <div class="col-sm-10 col-md-10 col-md-offset-1 col-sm-offset-1">
                                            {{ form_widget(form.email) }}

                                        </div>
                                    </div>

                                    <div class="form-group" style="margin-bottom: 10px">

                                        <div class="col-sm-10 col-md-10 col-md-offset-1 col-sm-offset-1"
                                             style="margin-bottom: 10px">
                                            {{ form_widget(form.plainPassword) }}
                                        </div>
                                        <div class="col-sm-1 col-md-1 hidden-xs"
                                             style="margin-top: 20px;padding-left: 0">
                        <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="right"
                              title="Must have at least 6 characters, 1 number, 1 upper case (example: Passw5)"></span>
                                        </div>

                                    </div>

                                    <div class="form-group">
                                        <div class="ol-sm-10 col-md-10 col-md-offset-1 col-sm-offset-1">
                                            {{ form_widget(form.phone) }}
                                        </div>
                                    </div>

                                    <div class="form-group" style="margin-bottom: 5px; margin-top: 20px">
                                        <div class="col-sm-10 col-md-10 col-md-offset-1 col-sm-offset-1 text-left">
                                            {#{ form_widget(form.recaptcha) }#}
                                        </div>

                                        <div class="col-sm-10 col-md-10 col-md-offset-1 col-sm-offset-1 text-left">
                                            {#{ form_errors(form.recaptcha) }#}
                                        </div>
                                        <div class="col-sm-10 col-md-10 col-md-offset-1 col-sm-offset-1 text-left">
                                            <label style="margin-top: 10px; margin-bottom: 10px">

                            <span style="display: inline; font-weight: 400"> {{ form_widget(form.t_and_c) }} I accept the <a
                                        href="{{ path('terms') }}">Terms and Conditions</a> and <a
                                        href="{{ path('privacy_policy') }}">Privacy Policy</a></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-bottom: 10px; margin-top: 5px">
                                        <div class="col-sm-10 col-md-10 col-md-offset-1 col-sm-offset-1">
                                            <div class="col-sm-3 col-md-3 text-left no_padding">
                                                <input type="hidden" value="0" id="invalid"/>
                                                <button id="btn-submit" type="submit"
                                                        class="btn btn-block panel_left_different">
                                                    Register
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" name="sourcecode" value="1" id="sourcecode"/>
                                    <input type='hidden' name='formID' value='13231' id="formID"/>
                                    <input type='hidden' name='weburl' value='1' id="weburl"/>
                                    <input type='hidden' name='isDedicatedClient' value='0' id="isDedicatedClient"/>

                                    <div id="type_container">
                                        {{ form_widget(form.type) }}
                                    </div>

                                </fieldset>
                            </div>

                        </div>
                    </div>

                    {{ form_rest(form) }}
                </form>
            </div>
            <div class="col-md-8 col-md-offset-2 col-xs-12 col-sm-12 no_padding" style="margin-top: 15px;">
                <img src="{{ asset('bundles/common/images/commons/shadow.png') }}" alt=" " style="width: 100%;"/>
            </div>

        </div>
    </div>
</div>
</div>

<script type="text/javascript">

    jQuery("#type_container select").val("3");

    /* jQuery("#shopper_tab").click(function(){
     jQuery("#type_container select").val("3");
     });

     jQuery("#dealership_tab").click(function(){
     jQuery("#type_container select").val("2");
     });

     jQuery("#private_seller_tab").click(function(){
     jQuery("#type_container select").val("1");
     });*/

    jQuery(document).ready(function () {

        //jQuery("#type_container select").val("2");

        jQuery("#shopper_tab").click(function () {
            jQuery("#type_container select").val("3");
            //'required' => true
            jQuery("#fos_user_registration_form_phone").removeAttr('required');
        });

        jQuery("#dealership_tab").click(function () {
            jQuery("#type_container select").val("2");
            jQuery("#fos_user_registration_form_phone").attr('required', true);
        });

        jQuery("#private_seller_tab").click(function () {
            jQuery("#type_container select").val("1");
            jQuery("#fos_user_registration_form_phone").attr('required', true);
        });

        jQuery(function () {
            jQuery(".glyphicon-info-sign").tooltip();
        });


        jQuery('#fos_user_registration_form_plainPassword_second').focusout(function () {
            if (jQuery(this).val() !== '' && jQuery('#fos_user_registration_form_plainPassword_first').val()) {
                if (jQuery(this).val() !== jQuery('#fos_user_registration_form_plainPassword_first').val()) {
                    createPopover(jQuery(this), 'Passwords does not match');
                    jQuery(this).css('box-shadow', '0 0 0 rgba(0, 0, 0, 1) inset, 0 0 8px rgba(255, 0, 0, 1)');
                    jQuery('#invalid').val('1');

                } else {
                    jQuery(this).css('box-shadow', 'none');
                    jQuery(this).popover('destroy');
                    jQuery('#invalid').val('0');
                }
            }
        });


        jQuery('#fos_user_registration_form_plainPassword_second').click(function () {
            jQuery(this).popover('destroy');
        });
        jQuery('#fos_user_registration_form_plainPassword_first, #fos_user_registration_form_name, #fos_user_registration_form_lastname, #fos_user_registration_form_email').click(function () {
            jQuery('#fos_user_registration_form_plainPassword_second').popover('destroy');
        });

        /*jQuery('#btn-submit').click(function (e){
         if(jQuery('#invalid').val() === '1' ){
         jQuery('#fos_user_registration_form_plainPassword_second').focus();
         e.preventDefault();
         }else {
         if (validateForm()){
         if(!validateRecaptcha()){
         e.preventDefault();
         }else{
         jQuery.ajax({
         type: "POST",
         url: 'https://app.mobilestorm.com/cp/manageforms/addSubscriber.php',
         data: {
         email: jQuery('#fos_user_registration_form_email').val(),
         formID: jQuery('#formID').val(),
         weburl: jQuery('#weburl').val(),
         isDedicatedClient: jQuery('#isDedicatedClient').val(),
         sourcecode: jQuery('#sourcecode').val()
         },
         async: false,
         success: function (data) {

         }
         });
         }
         }
         }

         });*/


        function validateForm() {
            var bValid = true;
            bValid = bValid && checkLength(jQuery('#fos_user_registration_form_name'), 1, 100);
            bValid = bValid && checkLength(jQuery('#fos_user_registration_form_lastname'), 1, 100);
            bValid = bValid && checkLength(jQuery('#fos_user_registration_form_plainPassword_first'), 6, 100);
            bValid = bValid && checkLength(jQuery('#fos_user_registration_form_plainPassword_second'), 6, 100);
            bValid = bValid && checkLength(jQuery('#fos_user_registration_form_phone'), 10, 10);
            bValid = bValid && checkChecked(jQuery('#fos_user_registration_form_t_and_c'));

            return bValid;
        }


        function checkLength(o, min, max) {
            if (o.val().length < min || o.val().length > max) {
                //createPopover(o, 'Please fill out this field');
                return false;
            } else {
                return true;
            }
        }


        function checkChecked(o) {
            if (!o.prop('checked')) {
                //createPopover(o, 'Please fill out this field');
                return false;
            } else {
                return true;
            }
        }

        jQuery('#fos_user_registration_form_t_and_c').prop('checked')

        function validateRecaptcha() {

            var data_2;
            jQuery.ajax({
                type: "POST",
                url: '{{ path('validate_captcha') }}',
                data: jQuery('#form-register').serialize(),
                async: false,
                success: function (data) {
                    var response = JSON.parse(data);
                    if (response.nocaptcha === "true") {
                        data_2 = 1;
                    } else if (response.spam === "true") {
                        data_2 = 1;
                    }
                    else {
                        data_2 = 0;
                    }

                }


            });

            if (data_2 != 0) {
                //e.preventDefault();
                if (data_2 == 1) {
                    alert("Please check the captcha");
                    return false;
                } else {
                    alert("Please Don't spam");
                    return false;
                }
            } else {
                return true;
            }

        }


        function createPopover(elem, text) {
            elem.attr('data-toggle', 'popover');
            elem.attr('data-placement', 'right');
            elem.attr('data-content', text);
            elem.attr('data-container', 'body');
            elem.popover();
            elem.trigger('click');

        }

    });

</script>