<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    Users <span class="caret"></span>
  </button>
  <ul class="dropdown-menu text-left" role="menu">
    <li><a href="{{ path('clear_all_filters_user_owner') }}">List Users</a></li>
    <li class="hide"><a href="{{ path('admin_add_user') }}">Create User</a></li>
  </ul>
</div>  
                <div class="btn-group">
  <a type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" >
    Properties <span class="caret"></span>
  </a>
  <ul class="dropdown-menu text-left" role="menu">
    <li><a href="{{ path('clear_all_filters') }}">List Properties</a></li>
    
  </ul>
</div>
                <div class="btn-group">
  <a type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="{{ path('admin_admin_users') }}">
    Inquiries <span class="caret"></span>
  </a>
  <ul class="dropdown-menu text-left" role="menu">
    <li><a href="{{ path('clear_all_filters_inquiries') }}">List Inquiries</a></li>
   
  </ul>
</div>
   <div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    Reservations <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Comming Soon</a></li>
    
  </ul>
</div>
    
    <div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    Reviews <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="{{ path('clear_all_filters_reviews') }}">List Reviews</a></li>
   
  </ul>
</div>
    
    <div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    Owner News <span class="caret"></span>
  </button>
  <ul class="dropdown-menu text-left" role="menu">
    <li><a href="{{ path('clear_all_filters_news') }}">List News</a></li>
    <li><a href="{{ path('create_news') }}">Add News</a></li>
    
  </ul>
</div>
    
      <div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    Blog <span class="caret"></span>
  </button>
  <ul class="dropdown-menu text-left" role="menu">
    <li><a href="{{ path('clear_all_filters_blog') }}">List Blog</a></li>
    <li><a href="{{ path('create_blog') }}">Add Blog</a></li>
    <li><a href="{{ path('clear_all_filters_categories') }}">Categories</a></li>
    <li><a href="{{ path('clear_all_filters_tags') }}">Tags</a></li>
    
  </ul>
</div>
    
    <div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    Contacts <span class="caret"></span>
  </button>
  <ul class="dropdown-menu text-left" role="menu">
    <li><a href="{{ path('clear_all_filters_contacts') }}">Support</a></li>
    <li><a href="{{ path('clear_all_filters_contacts_investor') }}">Investors</a></li>
    <li><a href="{{ path('clear_all_filters_contacts_owner') }}">Owner Tickets</a></li>
    
  </ul>
</div>
    
    
    