{% extends "SuperAdminBundle:Layout:user-admin.html.twig" %}
{% block title %}Administration{% endblock %}
{% block stylesheets %} {{ parent() }} {% endblock %}
{% block javascripts %} {{ parent() }} {% endblock %}
{% block header %}
    {{ include('CommonBundle:Default:header-admin.html.twig') }}

{% endblock %}
{% block menu %} {{ parent() }} {% endblock %}
{% block filters %} {{ include('SuperAdminBundle:Default:breadcrums-inquiries.html.twig') }}{% endblock %}
{% block body %}


    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="row" style="border-bottom: solid 1px #ccc">
                    <div class="col-md-1 col-sm-1 col-xs-12 " style="padding:0; font-weight: 600 ">
                      Date Created
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12 " style="padding:0; font-weight: 600 ">
                      Name 
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12 " style="padding:0; font-weight: 600 ">
                        Email
                    </div>
                   <div class="col-md-1 col-sm-1 col-xs-12 " style="padding:0; font-weight: 600 ">
                        Phone
                    </div>
                     <div class="col-md-1 col-sm-1 col-xs-12 " style="padding:0; font-weight: 600 ">
                        Property
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-12 " style="padding:0; font-weight: 600 ">
                        People
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12 " style="padding:0; font-weight: 600;  ">
                      
                    </div>
                </div>
                   {% for property in inquiries %}
                       <div class="row" style="padding: 5px 0px; border-bottom: solid 1px #ccc">
                    <div class="col-md-1 col-sm-1 col-xs-12" style="padding:0 ">
                        {{ property.dateCreated | date("m/d/Y")}} 
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12" style="padding:0 ">
                       {{ property.guest }} 
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12" style="padding:0 ">
                       {{ property.email }}  
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-12" style="padding:0 ">
                        {%if property.phone is not null%}
                        {{ property.phone }}
                        {%else%}
                            <span class="text-danger">No Phone</span>   
                         {%endif%}   
                        </div>
                     <div class="col-md-1 col-sm-1 col-xs-12" style="padding:0 ">
                         <a href="#" data-toggle="modal" data-target="#myModalOwnerDetails{{ property.id}}">{{ property.property.serie }}</a>
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-12" style="padding:0 ">
                        {% set peop = property.adults + property.children %}
                                                
                       
                            <span> <b>{{ peop }}</b></span>   
                        
                        </div>
                            
                    <div class="col-md-3 col-sm-3 col-xs-12" style="padding:0 ">
                        <a class="view-link" href="#">View Text</a>
                        <a class="hide-link hide" href="#">Hide Text</a>
                    </div>
                    
                     <div class="col-md-1 col-sm-1 col-xs-12" style="padding:0 ">
                       <div class="btn-group pull-right">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span style="margin-right: 10px">Actions </span><span class="path glyphicon glyphicon-chevron-down"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          
        <li><a id="delete-news" class="delete-news" href="{{ path("admin_delete_inquiry", {'id': property.id, 'page': page  }) }}">Delete</a></li>
        </ul>
        </div> 
                    </div>
        <div class="col-md-12 col-sm-12 col-xs-12 text-view hide" style="padding:0 ">
                          {{ property.text}}
                    </div>
                </div>
        
         
                 {% endfor %}
            </div>
        </div>   
    </div>    




    
{% if inquiries is not empty %}
    <div class="row" style="margin-bottom: 10px; margin-top: 5px">
        <div class="col-md-12 col-xs-12" style="padding:0 ">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="pull-right">
                        {% set count =  inquiries.getTotalItemCount %}
                        <div class="text-right pull-right" style="margin: 8px 15px 0px 0px"><span style="padding: 7px;font-size: 14px;" class="label label-primary">{{ count }} 
                                {% transchoice  count %}
                                {0} There are no Inquiries|{1} Inquiry Found|]1,Inf] Inquiries Found
                                {% endtranschoice %}
                            </span>
                        </div>
                    </div>

                    <div class="pagination pull-right">
                        {{ knp_pagination_render(inquiries) }}
                       
                    </div>

                </div>



            </div>


        </div>
    </div>
</div>
{% else %}
    <div class="row" style="margin: 20px 10px 0 ">
        <div class="col-xs-12 col-md-12">
            <div class="alert alert-info">No Inquiries Found</div>
        </div>
    </div>

{% endif %}


<script type="text/javascript">

    jQuery(document).ready(function () {


        
        jQuery('.view-link').click(function (e) {
            jQuery(this).addClass('hide');
            jQuery(this).parent().parent().find('.text-view').removeClass('hide');
            jQuery(this).parent().find('.hide-link').removeClass('hide');
            
            e.preventDefault();
        });
        
         jQuery('.hide-link').click(function (e) {
            jQuery(this).addClass('hide');
            jQuery(this).parent().parent().find('.text-view').addClass('hide');
            jQuery(this).parent().find('.view-link').removeClass('hide');
            e.preventDefault();
        });


        jQuery('.delete-news').click(function (e) {
          
          if(!confirm('You are about to delete this. Are you sure?')){
           e.preventDefault();
          }
          
        });

    });


</script>
{% endblock %}
{% block footer %}
    {{ include('CommonBundle:Default:footer.html.twig') }}   
{% endblock %}


