<div class="row"> 
    <form id="admin-form" action="{{ path('super_admin_search_reviews') }}"  method="POST" >
        <div class="col-md-7 col-sm-7 col-xs-12 text-left" style="padding: 0">
            <ul class="breadcrumb" style="margin: 0; padding-bottom: 0; background-color: #FFFFFF">
                {% for breadcrumb in breadcrumbs %}

                    <li class="{{ breadcrumb['class']}}">
                        {% if( breadcrumb['path'] != '') %}
                            <a style="font-size: 14px" href="{{ path(breadcrumb['path']) }}"><b>{{ breadcrumb['name']}}</b></a>
                                {% else  %}  
                                    {{ breadcrumb['name']}}
                                {% endif %} 
                                {% if( breadcrumb['class'] == '') %} 
                            <span class="glyphicon glyphicon-chevron-right" style="margin-left: 5px; top: 1px" aria-hidden="true"></span>
                        {% endif %} 


                    </li>



                {% endfor %}




            </ul>

        </div>
    

            
     
        <div class="col-sm-1 col-md-1 col-xs-2">
            <a class="btn btn-default" href="{{ path('create_tag') }}"><span class="path glyphicon glyphicon-plus" style="margin-right: 7px"></span>Add Tag</a>

                </div>
     

            <div class="col-md-2 col-sm-2 col-xs-12 text-left">
                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="sasearchtexttags" name="sasearchtexttags" value="{{app.session.get('sasearchtexttags')}}"  placeholder="Find by name">
                    </div>
                </div> 
            </div>
   
      
        <div class="col-md-2 col-sm-2 col-xs-12 text-left">
            <div class="form-group">

                <div class="col-sm-6 col-md-6 col-xs-6">
                    <button id="btnsave" type="submit" class="btn btn-primary btn-block">Search</button>

                </div>

                <div class="col-sm-6 col-md-6 col-xs-6">
                    <a id="btnclear" type="button" class="btn btn-default btn-block">Clear Filters</a>

                </div>
            </div> 
        </div>
     
        
    </form>
</div>

<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery('a.return-search').click(function () {
            parent.history.back();
            return false;
        });

        
        
        jQuery('#btnsave').click(function(){
         jQuery('#admin-form').attr('action', "{{path('super_admin_search_tags')}}");   
        });
        
        jQuery('#btnclear').click(function(){
         jQuery('#admin-form').attr('action', "{{path('clear_all_filters_tags')}}");   
          jQuery('#admin-form').submit();
        });
        
   
     
          

    });

</script>
