<div class="row"> 
    <form id="admin-form" action="{{ path('support_admin_news_search') }}"  method="POST" >
        <div class="col-md-7 col-xs-12 text-left" style="padding: 0">
            <ul class="breadcrumb" style="margin: 0; padding-bottom: 0; background-color: #FFFFFF">
                {% for breadcrumb in breadcrumbs %}

                    <li class="{{ breadcrumb['class']}}">
                        {% if( breadcrumb['path'] != '') %}
                            <a style="font-size: 14px" href="{{ path(breadcrumb['path']) }}"><b>{{ breadcrumb['name']}}</b></a>
                                {% else  %}  
                                    {{ breadcrumb['name']}}
                                {% endif %} 
                                {% if( breadcrumb['class'] == '') %} 
                            <span class="glyphicon glyphicon-chevron-right" style="margin-left: 5px; top: 1px" aria-hidden="true"></span>
                        {% endif %} 


                    </li>



                {% endfor %}




            </ul>

        </div>
        
        
         {%if filterNews == true%}

            <div class="col-md-1 col-sm-1 col-xs-12 text-left">
                <div class="btn-group btn-block">
                    <a type="button" class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown" aria-expanded="false" >
                        <span id="filter-text-news">
                            {% if app.session.get('sastatusnews') == '' or app.session.get('sastatusnews') == null%}
                                Filter
                            {% elseif app.session.get('sastatusnews') == '6'%}
                                Posted
                            {% elseif app.session.get('sastatusnews') == '5'%}
                                Pending
                            {% endif%}
                        </span>  <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu text-left" role="menu">
                        <li><a href="#" class="filter-posted">Posted</a></li>
                        <li><a href="#" class="filter-pending">Pending</a></li>
                        <li class="divider"></li>
                        <li><a href="#" class="filter-news-clear">Clear</a></li>
                    </ul>
                </div>
            </div>
        {%endif%}

        
           {%if searchNews == true%}

            <div class="col-md-2 col-sm-2 col-xs-12 text-left">
                <div class="form-group">

                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="sasearchtextnews" name="sasearchtextnews" value="{{app.session.get('sasearchtextnews')}}"  placeholder="Find by title">

                    </div>
                </div> 
            </div>
        {%endif%}
         {%if buttons == true%}
        <div class="col-md-2 col-sm-2 col-xs-12 text-left">
            <div class="form-group">

                <div class="col-sm-6 col-md-6 col-xs-6">
                    <button id="btnsave" type="submit" class="btn btn-primary btn-block">Search</button>

                </div>

                <div class="col-sm-6 col-md-6 col-xs-6">
                    <a id="btnclear" type="button" class="btn btn-default btn-block">Clear Filters</a>

                </div>
            </div> 
        </div>
        {%endif%}
     
        <input type="hidden" value="{{app.session.get('sastatusnews')}}" id="sastatusnews" name="sastatusnews">
    </form>
</div>

<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery('a.return-search').click(function () {
            parent.history.back();
            return false;
        });

       
        
        jQuery('#btnsave').click(function(){
         jQuery('#admin-form').attr('action', "{{path('support_admin_news_search')}}");   
        });
        
        jQuery('#btnclear').click(function(){
         jQuery('#admin-form').attr('action', "{{path('support_clear_all_filters_news')}}");   
          jQuery('#admin-form').submit();
        });
        
        
          jQuery('.filter-news-clear').click(function(e){
         jQuery('#admin-form').attr('action', "{{path('support_clear_filter_news')}}");  
          e.preventDefault();
          jQuery('#admin-form').submit();
         
        });
        
         jQuery('.filter-posted').click(function (e) {
            jQuery('#sastatusnews').val('6');
            jQuery('#filter-text-news').text(jQuery(this).text());
            e.preventDefault();
        });

        jQuery('.filter-pending').click(function (e) {
            jQuery('#sastatusnews').val('5');
            jQuery('#filter-text-news').text(jQuery(this).text());
            e.preventDefault();
        });

        jQuery('.filter-news-clear').click(function (e) {
            jQuery('#sastatusnews').val('');
            jQuery('#filter-text-news').text('Filter');
            e.preventDefault();
        });
          

    });

</script>
