    
{% trans_default_domain 'FOSUserBundle' %}
   
<div class="container">
    <div class="row" style="margin-top: 40px">
        <div class="col-md-6 col-md-offset-3 text-center">
            <h1>Reset your password</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center" style="padding: 0">

            <form id="form-login" action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset" style="margin-top: 20px; padding-top: 10px; padding-left: 20px; padding-right: 20px">
                
                <div class="row">
                    
                    <div class="col-md-10 col-sm-10 col-xs-10 col-md-offset-1 col-sm-offset-1" style="margin-bottom: 5px">
                 
                     {{ form_widget(form.plainPassword) }}
   
                    </div>
                     <div class="col-sm-1 col-md-1" style="margin-top: 20px;padding-left: 0">
                    <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="right" title="Must have at least 6 characters, 1 number, 1 upper case (example: Passw5)"></span>
                    </div>
                     <div class="col-md-10 col-sm-10 col-xs-10 col-md-offset-1 col-sm-offset-1 text-right" style="margin-top: 10px">
                        <input type="hidden" value="0" id="invalid" /> 
                         <input  id="btn-submit" type="submit" value="{{ 'resetting.reset.submit'|trans }}" class="btn btn-primary"/>

                    </div>

                </div>
                 {{ form_rest(form) }}
            </form>
        </div>
    </div>
</div>
                        
                        
                        <script type="text/javascript">
                            
                           jQuery(document).ready(function() {
                jQuery(function () {
                jQuery(".glyphicon-info-sign").tooltip();
                });  
                
                
                
                  
                jQuery('#fos_user_resetting_form_plainPassword_second').focusout(function (){
                    if(jQuery(this).val() !== '' && jQuery('#fos_user_resetting_form_plainPassword_first').val()  ){
                    if(jQuery(this).val() !== jQuery('#fos_user_resetting_form_plainPassword_first').val()){
                      createPopover(jQuery(this), 'Passwords does not match');
                      jQuery(this).css('box-shadow','0 0 0 rgba(0, 0, 0, 1) inset, 0 0 8px rgba(255, 0, 0, 1)');
                    jQuery('#invalid').val('1');
                     
                    }else {
                     jQuery(this).css('box-shadow','none') ;  
                      jQuery(this).popover('destroy');
                      jQuery('#invalid').val('0');
                    }
                }
                });
                
               
                  jQuery('#fos_user_resetting_form_plainPassword_second').click(function(){
                      jQuery(this).popover('destroy');
                  });
                  jQuery('#fos_user_resetting_form_plainPassword_first').click(function(){
                      jQuery('#fos_user_resetting_form_plainPassword_second').popover('destroy');
                  });
                  
                  jQuery('#btn-submit').click(function (e){
                      if(jQuery('#invalid').val() === '1' ){
                         jQuery('#fos_user_resetting_form_plainPassword_second').focus(); 
                         e.preventDefault(); 
                      }
        
                  });
                  
                  
                           function createPopover(elem, text){
                elem.attr('data-toggle', 'popover');
                    elem.attr('data-placement', 'right');
                    elem.attr('data-content', text);
                    elem.attr('data-container', 'body');
                    elem.popover();
                    elem.trigger('click');
                   
            }
                
                
                });            
                            
                        </script>
