<div id="amenities" class="anchor-profile"></div>                         
<div class="row">
    <div class="col-md-12 col-xs-12 " style="margin-bottom: 10px">
                                <span class="property-title">
                              Accommodation and Amenities
                          </span>
                            </div>
    
</div>
{% if property.amenities is not null %} 
                           <div class="row">
                            
                                   
                                   
                           {% if property.amenities.homeamenities is not null %} 
                               <div class="col-md-12 col-xs-12" style="margin: 5px 0px; ">
                                   <div class="row" style="  margin: 0; background-color: #EEEEEE">
                                   <div class="col-md-12 col-xs-12 " style="padding: 5px">
                                       <span style="color: #428BCA;font-family: Calibri;font-size: 16px;font-weight: lighter;">Home</span> 
                                   </div>
                                   {% if property.amenities.homeamenities.airConditioned%}     
                                           <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">Air Conditioned</div>
                                    {% endif  %} 
                                    {% if property.amenities.homeamenities.balcony%}     
                                   <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">Balcony</div>
                                    {% endif  %} 
                                    {% if property.amenities.homeamenities.ceilingFans%}     
                                   <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">Ceiling Fans</div>
                                    {% endif  %} 
                                    {% if property.amenities.homeamenities.petsAllowed%}     
                                   <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">Pets Allowed</div>
                                    {% endif  %} 
                                   {% if property.amenities.homeamenities.communityExerciseRoom%}     
                                   <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">Community Exercise Room</div>
                                    {% endif  %} 
                                   {% if property.amenities.homeamenities.fullkitchen%}     
                                   <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">Full Kitchen</div>
                                    {% endif  %} 
                                   {% if property.amenities.homeamenities.garage%}     
                                   <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">Garage</div>
                                    {% endif  %} 
                                   {% if property.amenities.homeamenities.longTermRenters%}     
                                   <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">Long Term Renters</div>
                                    {% endif  %} 
                                   {% if property.amenities.homeamenities.heater%}     
                                   <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">Heater</div>
                                    {% endif  %} 
                                   {% if property.amenities.homeamenities.nonSmokingOnly%}     
                                   <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">Non Smoking Only</div>
                                    {% endif  %} 
                                   {% if property.amenities.homeamenities.pool%}     
                                   <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">Pool</div>
                                    {% endif  %} 
                                   {% if property.amenities.homeamenities.childrenWelcome%}     
                                   <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">Children Welcome</div>
                                    {% endif  %} 
                                   {% if property.amenities.homeamenities.telephone%}     
                                   <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">Telephone</div>
                                    {% endif  %} 
                                   {% if property.amenities.homeamenities.fireplace%}     
                                   <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">Fire Place</div>
                                    {% endif  %} 
                                   {% if property.amenities.homeamenities.hotTub%}     
                                   <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">Hot Tub</div>
                                    {% endif  %} 
                                   {% if property.amenities.homeamenities.washingMachine%}     
                                   <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">Washing Machine</div>
                                    {% endif  %} 
                                   {% if property.amenities.homeamenities.parking%}     
                                   <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">Parking</div>
                                    {% endif  %} 
                                   {% if property.amenities.homeamenities.wheelchairAccessible%}     
                                   <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">Wheelchair Accessible</div>
                                    {% endif  %} 
                                     {% if property.amenities.homeamenities.linens%}     
                                   <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">Linens Provided</div>
                                    {% endif  %} 
                                     {% if property.amenities.homeamenities.towels%}     
                                   <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">Towels Provided</div>
                                    {% endif  %} 
                                     {% if property.amenities.homeamenities.yard%}     
                                   <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">Yard/Garden</div>
                                    {% endif  %} 
                                    
                                     {% if property.amenities.homeamenities.deck%}     
                                   <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">Deck/Patio</div>
                                    {% endif  %} 
                               </div>
                                                   
                            </div>
                             {% endif  %} 
                                   
                                   
                                   
                         {% if property.amenities.electronicsEntertaimentAmenities is not null %} 
                               <div class="col-md-12 col-xs-12" style="margin: 5px 0px">
                                   <div class="row" style="margin: 0;">
                                   <div class="col-md-12 col-xs-12 " style="padding: 5px">
                                       <span style="color: #428BCA;font-family: Calibri;font-size: 16px;font-weight: lighter; ">Electronics and Entertaiment</span> 
                                   </div>
                                   {% if property.amenities.electronicsEntertaimentAmenities.cableTv%}     
                                   <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">Cable/Satellite</div>
                                    {% endif  %} 
                                    {% if property.amenities.electronicsEntertaimentAmenities.dialUpInternetAccess%}     
                                   <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">Internet Access</div>
                                    {% endif  %} 
                                    {% if property.amenities.electronicsEntertaimentAmenities.dvdLibrary%}     
                                   <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">Movie Library</div>
                                    {% endif  %} 
                                    {% if property.amenities.electronicsEntertaimentAmenities.homeStereo%}     
                                   <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">Stereo</div>
                                    {% endif  %} 
                                   {% if property.amenities.electronicsEntertaimentAmenities.premiunChannels%}     
                                   <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">Premium Channels</div>
                                    {% endif  %} 
                                   {% if property.amenities.electronicsEntertaimentAmenities.tv%}     
                                   <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">TV</div>
                                    {% endif  %} 
                                   {% if property.amenities.electronicsEntertaimentAmenities.tvGames%}     
                                   <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">Video Games</div>
                                    {% endif  %} 
                                   {% if property.amenities.electronicsEntertaimentAmenities.vcrPlayer%}     
                                   <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">Toys</div>
                                    {% endif  %} 
                                   {% if property.amenities.electronicsEntertaimentAmenities.wirelessInternetAccess%}     
                                   <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">Wireless Internet Access</div>
                                    {% endif  %} 
                                    {% if property.amenities.electronicsEntertaimentAmenities.boardGames%}     
                                   <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">Board & Card Games</div>
                                    {% endif  %} 
                                     {% if property.amenities.electronicsEntertaimentAmenities.books%}     
                                   <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">Books</div>
                                    {% endif  %} 
                                     {% if property.amenities.electronicsEntertaimentAmenities.musicLibrary%}     
                                   <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">Music Library</div>
                                    {% endif  %} 
                               </div>
                                                   
                            </div>
                             {% endif  %} 
                                   
                                    {% if property.amenities.kitchenAmenities is not null %} 
                               <div class="col-md-12 col-xs-12" style="margin: 5px 0px; ">
                                   <div class="row" style="  margin: 0; background-color: #EEEEEE">
                                   <div class="col-md-12 col-xs-12 " style="padding: 5px">
                                       <span style="color: #428BCA;font-family: Calibri;font-size: 16px;font-weight: lighter;">Kitchen</span> 
                                   </div>
                                   {% if property.amenities.kitchenAmenities.blender%}     
                                           <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">Blender</div>
                                    {% endif  %} 
                                    {% if property.amenities.kitchenAmenities.coffeMaker%}     
                                   <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">Coffee Maker</div>
                                    {% endif  %} 
                                    {% if property.amenities.kitchenAmenities.freezer%}     
                                   <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">Freezer</div>
                                    {% endif  %} 
                                    {% if property.amenities.kitchenAmenities.garbageDisposal%}     
                                   <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">Garbage Disposal</div>
                                    {% endif  %} 
                                   {% if property.amenities.kitchenAmenities.kitchenUtensils%}     
                                   <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">Kitchen Utensils</div>
                                    {% endif  %} 
                                   {% if property.amenities.kitchenAmenities.potsPans%}     
                                   <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">Pots and Pans</div>
                                    {% endif  %} 
                                   {% if property.amenities.kitchenAmenities.toaster%}     
                                   <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">Toaster</div>
                                    {% endif  %} 
                                   {% if property.amenities.kitchenAmenities.oven%}     
                                   <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">Oven</div>
                                    {% endif  %} 
                                   {% if property.amenities.kitchenAmenities.dishwasher%}     
                                   <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">Dishwasher</div>
                                    {% endif  %} 
                                   {% if property.amenities.kitchenAmenities.stove%}     
                                   <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">Stove</div>
                                    {% endif  %} 
                                   {% if property.amenities.kitchenAmenities.microwave%}     
                                   <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">Microwave</div>
                                    {% endif  %} 
                                   {% if property.amenities.kitchenAmenities.grill%}     
                                   <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">Grill</div>
                                    {% endif  %} 
                                   
                               </div>
                                                   
                            </div>
                             {% endif  %} 
                                   
                                   
                                     {% if property.amenities.attractionsAmenities is not null %} 
                               <div class="col-md-12 col-xs-12" style="margin: 5px 0px">
                                   <div class="row" style="margin: 0;">
                                   <div class="col-md-12 col-xs-12 " style="padding: 5px">
                                       <span style="color: #428BCA;font-family: Calibri;font-size: 16px;font-weight: lighter; ">Nearby Attractions/Facilities</span> 
                                   </div>
                                   {% if property.amenities.attractionsAmenities.barNightClub%}     
                                   <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">Bar/Night Club</div>
                                    {% endif  %} 
                                    {% if property.amenities.attractionsAmenities.beach%}     
                                   <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">Beach</div>
                                    {% endif  %} 
                                    {% if property.amenities.attractionsAmenities.casino%}     
                                   <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">Casino</div>
                                    {% endif  %} 
                                    {% if property.amenities.attractionsAmenities.charterBoats%}     
                                   <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">Charter Boats</div>
                                    {% endif  %} 
                                   {% if property.amenities.attractionsAmenities.deepSeaFishing%}     
                                   <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">Deep Sea Fishing</div>
                                    {% endif  %} 
                                   {% if property.amenities.attractionsAmenities.airports%}     
                                   <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">Airports</div>
                                    {% endif  %} 
                                   {% if property.amenities.attractionsAmenities.horsebackRiding%}     
                                   <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">Horseback Riding</div>
                                    {% endif  %} 
                                   {% if property.amenities.attractionsAmenities.shopping%}     
                                   <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">Shopping</div>
                                    {% endif  %} 
                                   {% if property.amenities.attractionsAmenities.snorkeling%}     
                                   <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">Snorkeling</div>
                                    {% endif  %} 
                               </div>
                                                   
                            </div>
                             {% endif  %} 
                                   
                                   
                                    {% if property.propertyDetails is not null %} 
                               <div class="col-md-12 col-xs-12" style="margin: 5px 0px; ">
                                   <div class="row" style="  margin: 0; background-color: #EEEEEE">
                                   <div class="col-md-12 col-xs-12 " style="padding: 5px">
                                       <span style="color: #428BCA;font-family: Calibri;font-size: 16px;font-weight: lighter;">Home Information</span> 
                                   </div>
                                   {% if property.propertyDetails.type.name is not null%}     
                                           <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">Property Type</div>
                                           <div class="col-md-8 col-xs-12 " style="padding: 2px 5px">{{property.propertyDetails.type.name}}</div>
                                    {% endif  %} 
                                    {% if property.propertyDetails.locationType.name is not null%}     
                                           <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">Location Type</div>
                                           <div class="col-md-8 col-xs-12 " style="padding: 2px 5px">{{property.propertyDetails.locationType.name}}</div>
                                    {% endif  %}
                                           
                                     {% if property.propertyDetails.size is not null%}     
                                           <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">Size</div>
                                           <div class="col-md-8 col-xs-12 " style="padding: 2px 5px">{{property.propertyDetails.size}}
                                     {% if (property.propertyDetails.sizeUnit) == 0 %}
                                               SQ-FT    
                                       {% elseif (property.propertyDetails.sizeUnit) == 1%}
                                      
                                              SQ-MT     
                                            {% else %}
                                                SQ-KM   
                                      {% endif  %}              
                                               </div>
                                    {% endif  %}        
                                           
                                     {% if property.propertyDetails.bedrooms is not null%}     
                                           <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">Bedrooms</div>
                                           <div class="col-md-8 col-xs-12 " style="padding: 2px 5px">{{property.propertyDetails.bedrooms}}</div>
                                    {% endif  %} 
                                    {% if property.propertyDetails.bathrooms is not null%}     
                                           <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">Bathrooms</div>
                                           <div class="col-md-8 col-xs-12 " style="padding: 2px 5px">{{property.propertyDetails.bathrooms}}</div>
                                    {% endif  %} 
                                    {% if property.propertyDetails.halfBath is not null%}     
                                           <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">Half-Bath</div>
                                           <div class="col-md-8 col-xs-12 " style="padding: 2px 5px">{{property.propertyDetails.halfBath}}</div>
                                    {% endif  %} 
                                   {% if property.propertyDetails.sleeps is not null%}     
                                           <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">Sleeps</div>
                                           <div class="col-md-8 col-xs-12 " style="padding: 2px 5px">{{property.propertyDetails.sleeps}}</div>
                                    {% endif  %} 
                                   {% if property.propertyDetails.arrangement is not null%}     
                                           <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">Bedding Arrangement</div>
                                           <div class="col-md-8 col-xs-12 " style="padding: 2px 5px">{{property.propertyDetails.arrangement}}</div>
                                    {% endif  %} 
                                    
                            
                                   
                               </div>
                                                   
                            </div>
                             {% endif  %} 
                                   
                                   
                             {% if property.placesactivities is not null %} 
                               <div class="col-md-12 col-xs-12" style="margin: 5px 0px">
                                   <div class="row" style="margin: 0;">
                                   <div class="col-md-12 col-xs-12 " style="padding: 5px">
                                       <span style="color: #428BCA;font-family: Calibri;font-size: 16px;font-weight: lighter; ">Area Information</span> 
                                   </div>
                                   {% if property.placesactivities.nearestAirport is not null%}     
                                   <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">Nearest Airport</div>
                                    <div class="col-md-8 col-xs-12 " style="padding: 2px 5px">{{ property.placesactivities.nearestAirport }}
                                    <em>
                                         {% if (property.placesactivities.nearestAirportDistanceUnit) == 0 %}
                                             {{ property.placesactivities.nearestAirportDistance }}     
                                             {% transchoice  property.placesactivities.nearestAirportDistance %}
                                                {0} Near |{1} Mile Away |]1,Inf] Miles Away
                                              {% endtranschoice %}
                                                
                                        {% elseif (property.placesactivities.nearestAirportDistanceUnit) == 1%}
                                       {{ property.placesactivities.nearestAirportDistance }}     
                                             {% transchoice  property.placesactivities.nearestAirportDistance %}
                                                {0} Near |{1} Kilometer Away |]1,Inf] Kilometers Away
                                              {% endtranschoice %}
                                                  
                                            {% else %}
                                                {{ property.placesactivities.nearestAirportDistance }}     
                                             {% transchoice  property.placesactivities.nearestAirportDistance %}
                                                {0} Near |{1} Meter Away |]1,Inf] Meters Away
                                              {% endtranschoice %}
                                                 
                                      {% endif  %} 
                                                 </em>
                                    </div>
                                    {% endif  %} 
                                   
                                   
                                    {% if property.placesactivities.nearestBeach is not null%}     
                                   <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">Nearest Beach</div>
                                    <div class="col-md-8 col-xs-12 " style="padding: 2px 5px">{{ property.placesactivities.nearestBeach }}
                                        <em>
                                        {% if (property.placesactivities.nearestBeachDistanceUnit) == 0 %}
                                             {{ property.placesactivities.nearestBeachDistance }}     
                                             {% transchoice  property.placesactivities.nearestBeachDistance %}
                                                {0} Near |{1} Mile |]1,Inf] Miles
                                              {% endtranschoice %}
                                                Away
                                        {% elseif (property.placesactivities.nearestBeachDistanceUnit) == 1%}
                                       {{ property.placesactivities.nearestBeachDistance }}     
                                             {% transchoice  property.placesactivities.nearestBeachDistance %}
                                                {0} Near |{1} Kilometer |]1,Inf] Kilometers
                                              {% endtranschoice %}
                                                Away  
                                            {% else %}
                                                {{ property.placesactivities.nearestBeachDistance }}     
                                             {% transchoice  property.placesactivities.nearestBeachDistance %}
                                                {0} Near |{1} Meter |]1,Inf] Meters
                                              {% endtranschoice %}
                                                Away    
                                      {% endif  %} 
                                                </em>
                                    </div>
                                    {% endif  %} 
                                   
                                   
                                      {% if property.placesactivities.nearestFerry is not null%}     
                                   <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">Nearest Ferry</div>
                                    <div class="col-md-8 col-xs-12 " style="padding: 2px 5px">{{ property.placesactivities.nearestFerry }}
                                        <em>
                                        {% if (property.placesactivities.nearestFerryDistanceUnit) == 0 %}
                                             {{ property.placesactivities.nearestFerryDistance }}     
                                             {% transchoice  property.placesactivities.nearestFerryDistance %}
                                                {0} Near |{1} Mile |]1,Inf] Miles
                                              {% endtranschoice %}
                                                Away
                                        {% elseif (property.placesactivities.nearestFerryDistanceUnit) == 1%}
                                       {{ property.placesactivities.nearestFerryDistance }}     
                                             {% transchoice  property.placesactivities.nearestFerryDistance %}
                                                {0} Near |{1} Kilometer |]1,Inf] Kilometers
                                              {% endtranschoice %}
                                                Away  
                                            {% else %}
                                                {{ property.placesactivities.nearestFerryDistance }}     
                                             {% transchoice  property.placesactivities.nearestFerryDistance %}
                                                {0} Near |{1} Meter |]1,Inf] Meters
                                              {% endtranschoice %}
                                                Away    
                                      {% endif  %} 
                                                </em>
                                    </div>
                                    {% endif  %} 
                                   
                                   {% if property.placesactivities.nearestTrain is not null%}     
                                   <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">Nearest Train</div>
                                    <div class="col-md-8 col-xs-12 " style="padding: 2px 5px">{{ property.placesactivities.nearestTrain }}
                                        <em>
                                        {% if (property.placesactivities.nearestTrainDistanceUnit) == 0 %}
                                             {{ property.placesactivities.nearestTrainDistance }}     
                                             {% transchoice  property.placesactivities.nearestTrainDistance %}
                                                {0} Near |{1} Mile |]1,Inf] Miles
                                              {% endtranschoice %}
                                                Away
                                        {% elseif (property.placesactivities.nearestTrainDistanceUnit) == 1%}
                                       {{ property.placesactivities.nearestTrainDistance }}     
                                             {% transchoice  property.placesactivities.nearestTrainDistance %}
                                                {0} Near |{1} Kilometer |]1,Inf] Kilometers
                                              {% endtranschoice %}
                                                Away  
                                            {% else %}
                                                {{ property.placesactivities.nearestTrainDistance }}     
                                             {% transchoice  property.placesactivities.nearestTrainDistance %}
                                                {0} Near |{1} Meter |]1,Inf] Meters
                                              {% endtranschoice %}
                                                Away    
                                      {% endif  %} 
                                                </em>
                                    </div>
                                    {% endif  %} 
                                   
                                     {% if property.placesactivities.nearestHighway is not null%}     
                                   <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">Nearest Highway</div>
                                    <div class="col-md-8 col-xs-12 " style="padding: 2px 5px">{{ property.placesactivities.nearestHighway }}
                                        <em>
                                        {% if (property.placesactivities.nearestHighwayDistanceUnit) == 0 %}
                                             {{ property.placesactivities.nearestHighwayDistance }}     
                                             {% transchoice  property.placesactivities.nearestHighwayDistance %}
                                                {0} Near |{1} Mile |]1,Inf] Miles
                                              {% endtranschoice %}
                                                Away
                                        {% elseif (property.placesactivities.nearestHighwayDistanceUnit) == 1%}
                                       {{ property.placesactivities.nearestHighwayDistance }}     
                                             {% transchoice  property.placesactivities.nearestHighwayDistance %}
                                                {0} Near |{1} Kilometer |]1,Inf] Kilometers
                                              {% endtranschoice %}
                                                Away  
                                            {% else %}
                                                {{ property.placesactivities.nearestHighwayDistance }}     
                                             {% transchoice  property.placesactivities.nearestHighwayDistance %}
                                                {0} Near |{1} Meter |]1,Inf] Meters
                                              {% endtranschoice %}
                                                Away    
                                      {% endif  %} 
                                                </em>
                                    </div>
                                    {% endif  %} 
                                   
                                      {% if property.placesactivities.nearestBar is not null%}     
                                   <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">Nearest Bar</div>
                                    <div class="col-md-8 col-xs-12 " style="padding: 2px 5px">{{ property.placesactivities.nearestBar }}
                                        <em>
                                        {% if (property.placesactivities.nearestBarDistanceUnit) == 0 %}
                                             {{ property.placesactivities.nearestBarDistance }}     
                                             {% transchoice  property.placesactivities.nearestBarDistance %}
                                                {0} Near |{1} Mile |]1,Inf] Miles
                                              {% endtranschoice %}
                                                Away
                                        {% elseif (property.placesactivities.nearestBarDistanceUnit) == 1%}
                                       {{ property.placesactivities.nearestBarDistance }}     
                                             {% transchoice  property.placesactivities.nearestBarDistance %}
                                                {0} Near |{1} Kilometer |]1,Inf] Kilometers
                                              {% endtranschoice %}
                                                Away  
                                            {% else %}
                                                {{ property.placesactivities.nearestBarDistance }}     
                                             {% transchoice  property.placesactivities.nearestBarDistance %}
                                                {0} Near |{1} Meter |]1,Inf] Meters
                                              {% endtranschoice %}
                                                Away    
                                      {% endif  %} 
                                                </em>
                                    </div>
                                    {% endif  %} 
                                   
                                    {% if property.placesactivities.nearestSki is not null%}     
                                   <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">Nearest Ski</div>
                                    <div class="col-md-8 col-xs-12 " style="padding: 2px 5px">{{ property.placesactivities.nearestSki }}
                                        <em>
                                        {% if (property.placesactivities.nearestSkiDistanceUnit) == 0 %}
                                             {{ property.placesactivities.nearestSkiDistance }}     
                                             {% transchoice  property.placesactivities.nearestSkiDistance %}
                                                {0} Near |{1} Mile |]1,Inf] Miles
                                              {% endtranschoice %}
                                                Away
                                        {% elseif (property.placesactivities.nearestSkiDistanceUnit) == 1%}
                                       {{ property.placesactivities.nearestSkiDistance }}     
                                             {% transchoice  property.placesactivities.nearestSkiDistance %}
                                                {0} Near |{1} Kilometer |]1,Inf] Kilometers
                                              {% endtranschoice %}
                                                Away  
                                            {% else %}
                                                {{ property.placesactivities.nearestSkiDistance }}     
                                             {% transchoice  property.placesactivities.nearestSkiDistance %}
                                                {0} Near |{1} Meter |]1,Inf] Meters
                                              {% endtranschoice %}
                                                Away    
                                      {% endif  %} 
                                                </em>
                                    </div>
                                    {% endif  %} 
                                   
                                    {% if property.placesactivities.nearestGolf is not null%}     
                                   <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">Nearest Golf</div>
                                    <div class="col-md-8 col-xs-12 " style="padding: 2px 5px">{{ property.placesactivities.nearestGolf }}
                                        <em>
                                        {% if (property.placesactivities.nearestGolfDistanceUnit) == 0 %}
                                             {{ property.placesactivities.nearestGolfDistance }}     
                                             {% transchoice  property.placesactivities.nearestGolfDistance %}
                                                {0} Near |{1} Mile |]1,Inf] Miles
                                              {% endtranschoice %}
                                                Away
                                        {% elseif (property.placesactivities.nearestGolfDistanceUnit) == 1%}
                                       {{ property.placesactivities.nearestGolfDistance }}     
                                             {% transchoice  property.placesactivities.nearestGolfDistance %}
                                                {0} Near |{1} Kilometer |]1,Inf] Kilometers
                                              {% endtranschoice %}
                                                Away  
                                            {% else %}
                                                {{ property.placesactivities.nearestGolfDistance }}     
                                             {% transchoice  property.placesactivities.nearestGolfDistance %}
                                                {0} Near |{1} Meter |]1,Inf] Meters
                                              {% endtranschoice %}
                                                Away    
                                      {% endif  %} 
                                                </em>
                                    </div>
                                    {% endif  %} 
                                   
                                    {% if property.placesactivities.nearestRestaurant is not null%}     
                                   <div class="col-md-4 col-xs-12 " style="padding: 2px 5px">Nearest Restaurant</div>
                                    <div class="col-md-8 col-xs-12 " style="padding: 2px 5px">{{ property.placesactivities.nearestRestaurant }}
                                        <em>
                                        {% if (property.placesactivities.nearestRestaurantDistanceUnit) == 0 %}
                                             {{ property.placesactivities.nearestRestaurantDistance }}     
                                             {% transchoice  property.placesactivities.nearestRestaurantDistance %}
                                                {0} Near |{1} Mile |]1,Inf] Miles
                                              {% endtranschoice %}
                                                Away
                                        {% elseif (property.placesactivities.nearestRestaurantDistanceUnit) == 1%}
                                       {{ property.placesactivities.nearestRestaurantDistance }}     
                                             {% transchoice  property.placesactivities.nearestRestaurantDistance %}
                                                {0} Near |{1} Kilometer |]1,Inf] Kilometers
                                              {% endtranschoice %}
                                                Away  
                                            {% else %}
                                                {{ property.placesactivities.nearestRestaurantDistance }}     
                                             {% transchoice  property.placesactivities.nearestRestaurantDistance %}
                                                {0} Near |{1} Meter |]1,Inf] Meters
                                              {% endtranschoice %}
                                                Away    
                                      {% endif  %} 
                                                </em>
                                    </div>
                                    {% endif  %} 
                                   
                                   
                                   
                                   
                                   
                                   
                               </div>
                                                   
                            </div>
                             {% endif  %}       
                                   
                       </div>
                       
                        {% else  %} 
                             <div class="row">
                            <div class="col-md-12 col-xs-12 " style="margin: 10px 0px">
                          <span style="color: #428BCA;font-family: Calibri;font-size: 18px;font-weight: lighter;">
                              Information Unavailable. Contact the Property Owner
                          </span>
                            </div>
                           </div>          
                        {% endif  %} 