
<header>
    <div class="row">                            
    <div class="col-md-12 col-xs-12">
                                    <ul class="breadcrumb breadcrumb-cap">
                                            <li class="">
                                         
                                                <a href="{{ path('admin_user_reviews', {'id': 'all'}) }}">Reviews</a>
                                                <img src="{{ asset('bundles/common/images/Line.png') }}" style="height: 36px;padding-bottom: 2px;" >
                                            </li>
                                            <li class="active">New Review</li>
                                    </ul>
                                    </div>
            </div>
        <div  id="tools-container" class="container-fluid"> 
        <div class="col-md-12 col-xs-12" >
        
                                                 <div class="toolbar clearfix">    
                                     
                                                <ul class="btn-toolbar">
                                                 <li class="btn-group pull-right">
                                                        
                                                   {{ render(controller('AdminBundle:Default:listProperties')) }}
                                                        
                                                    </li>
                                                </ul>
                                            </div>
                </div>
                </div>
              
                                        </header>


<div id="container" class="container-fluid properties-container">

        
    
    <div class="row">
        <div class="col-md-12  text-center">
            <form id="form-location" action="{{ path('create_review') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal">
    <input type="hidden" name="_csrf_token"   value="{{ csrf_token('registration') }}">
   
    
     <div class="col-md-12 col-xs-12">
      
       <div class="form-group" style="margin-bottom: 10px">
       <div class="col-md-12 col-xs-12 text-left form-title">
           
           <div id="title">New Review</div>
           
       </div>
       </div>
           
    </div>
    
    
    
    
            
    <div class="col-md-10 col-md-offset-3 text-center">   
          
        
        <div class="form-group" style="margin-bottom: 10px">
 
         <div class="col-sm-6 col-xs-12 text-danger">
       {% for flashMessage in app.session.flashbag.get('notice') %}
           
           {{ flashMessage }}
        
           {% endfor %}
    </div>
     
  </div>

          
        
       
            <div class="form-group" style="margin-bottom: 10px">
 
         <div class="col-sm-6 col-xs-12">
     {{ form_widget(form.guest) }}
    </div>
     
  </div>
        
        <div class="form-group" style="margin-bottom: 10px">
 
         <div class="col-sm-6 col-xs-12">
     {{ form_widget(form.title) }}
    </div>
     
  </div>
        
         <div class="form-group" style="margin-bottom: 10px">
         <div class="col-sm-6 col-xs-12">
     {{ form_widget(form.description) }}
    </div>
         </div>
            
        <div class="pcalendar form-group" style="margin-bottom: 10px">
            <div class="input-group col-sm-6 col-xs-12 pull-left">
        {{ form_widget(form.stayDate) }}
           <span class="input-group-addon"><img id="start-date" src="{{ asset('bundles/common/images/icon Calendar.png') }}" /></span>
           </div>
                 
           </div>
            
            
         
          
        <div class="form-group" style="margin-bottom: 10px">
         <div class="col-sm-6 col-xs-12">
    {{ form_widget(form.property) }}
    </div>
         </div>
       
        <div class="form-group" style="margin-bottom: 10px">
        
            <div class="col-sm-6 col-xs-12">
    <div class="basic" data-average="12" data-id="1"></div>
                    <div class="basictemp"></div>
    </div>
         </div>
                    
        <div class="form-group" style="margin-bottom: 10px">
         <div class="col-sm-6 col-xs-12">
    {{ form_widget(form.valoration) }}
    </div>
         </div>
       
                
                           
    
         
          </div>   
         
    
    <div id="form-buttons" class="col-md-10 col-md-offset-3 text-center">
   <div class="form-group" style="margin-bottom: 10px">
    <div class="col-sm-12 col-xs-12 text-left">
        <button id="btnsave" type="submit" class="btn btn-primary">Save</button>
        
    </div>
           
    </div>        
    
  </div>
    <div style="display: none">{{ form_rest(form) }}</div>
</form>
                </div>
            </div>
    
    </div>

<script type="text/javascript">
            
           jQuery(document).ready(function() {
           
           jQuery( ".period-calendar" ).datepicker({
           dateFormat: 'yy-mm-dd'
            });
  
  
  jQuery('.basic').jRating({
                                canRateAgain : true,
                                nbRates : 2,
                                sendRequest: false,
                                rateMax : 5,
                                onClick: function(element,rate) {
                                jQuery('#review_valoration').val(rate);
                                //alert(rate);
                               },
                                bigStarsPath : '../../../../bundles/common/css/icons/stars.png', // path of the icon stars.png
                                smallStarsPath : '../../../../bundles/common/css/icons/small.png',
                                decimalLength : 1
                            });
  
            });      
            
            
           
            
        
           
            
            
            
            </script>
    