<div id="header" class="container-fluid">
    <div class="container">
        <div class="row hidden-xs">
            <div id="logo" class="col-xs-12 col-md-6 col-sm-4">
                <a href="{{ path('app_homepage') }}"><img src="{{ asset('bundles/common/images/logo.png') }}" alt="HomeEscape Logo"/></a>

            </div>




            <div id="chat" class="col-xs-12 col-md-6 col-sm-8">

                <div class="pull-right">
                    <nav>


                        <ul id="mainMenu" class="nav nav-pills nav-main">
                            
                            <li>
                                <a href="{{ path('contact_us') }}">Support</a>
                            </li>
                            <li class="hide">
                                <a href="{{ path('app_homepage') }}">News</a>
                            </li>
                            <li>
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                    <div class="btn-group">
                                        <a  class="btn dropdown-toggle login" data-toggle="dropdown">
                                            <span style="margin-right: 10px">{{  app.user.name }} </span><span class="path glyphicon glyphicon-chevron-down"></span>

                                        </a>
                                        <ul class="dropdown-menu" role="menu">                   
                                            <li><a href="{{ path('admin_user_homepage') }}">Manage Listings</a></li>
                                            <li><a href="#" data-toggle="modal" data-target="#myModalSupport">Contact Support</a></li>
                                            <li><a href="{{ path('fos_user_change_password') }}">Change Password</a></li>
                                            <li class="divider"></li>
                                            <li><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
                                        </ul>
                                    </div>

                                {% else %}
                                    <a class="login" href="{{ path('fos_user_security_login') }}">Owner Login »</a>

                                {% endif %} 
                            </li>

                            {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <div class="pull-right btn-register-header"><a class="pull-left btn btn-default" style="color: #2c9ec8" href="{{  path("fos_create_user") }}">List your property for FREE</a></div>
                            {% endif %} 
                        </ul>                       
                    </nav></div>


            </div>


        </div>

        <div class="row visible-xs">
            <div class="col-md-2 col-sm-2 col-xs-2">
                <nav class="navbar" role="navigation" >
                    <div class="container-fluid">
                        <div class="navbar-header" style="margin-right: -33px">
                            <button class="navbar-toggle collapsed" data-target="#bs-example-navbar-collapse-9" data-toggle="collapse" type="button">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>  

                        </div>
                        <div id="bs-example-navbar-collapse-9" class="navbar-collapse collapse" style="width: 250px;">
                            <ul id="mainMenu" class="nav navbar-nav">
                                <li><a href="{{ path('contact_us') }}">Support</a></li>
                                <li><a href="{{ path('how_works') }}">How it works</a></li>
                                <li><a href="{{ path('help_center') }}">Get help</a></li>
                                <li><a href="{{ path('about_us') }}">Company</a></li>
                                <li><a href="{{ path('investor') }}">Investors</a></li>
                                <li><a href="{{ path('content_guidelines') }}">Content Guidelines</a></li>
                                <li>
                                   {% if is_granted("IS_AUTHENTICATED_REMEMBERED") == false %}

                                       <div class=""><a class="pull-left btn btn-default" style="color: #2c9ec8" href="{{  path("fos_create_user") }}">List your property for FREE</a></div>

                                   {% endif %} 
                               </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <div id="logo" class="col-xs-4 col-md-6" style="padding-left: 10px">
                <a href="{{ path('app_homepage') }}"><img src="{{ asset('bundles/common/images/logo.png') }}" alt="Home"/></a>
            </div>
            <div class="col-xs-5 col-md-4" style="float:right;margin-top:10px;text-align:right;padding-right: 0">
                  {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                        <div class="btn-group">
                                            <a  class="btn dropdown-toggle login" data-toggle="dropdown">
                                               <span class="path glyphicon glyphicon-chevron-down"></span>

                                            </a>
                                            <ul class="dropdown-menu" role="menu" style="text-align:right;left:-127px;">
                                            <li><a style="padding-left: 5px" href="{{ path('admin_user_homepage') }}">Manage Listings</a></li>
                                            <li><a  style="padding-left: 5px" href="#" data-toggle="modal" data-target="#myModalSupport">Contact Support</a></li>
                                            <li><a  style="padding-left: 5px" href="{{ path('fos_user_change_password') }}">Change Password</a></li>
                                            <li><a style="padding-left: 5px" href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
                                            </ul>
                                        </div>

                                    {% else %}
                                        <a class="login" href="{{ path('fos_user_security_login') }}">Owner Login »</a>

                                    {% endif %} 
            </div>
        </div>
    </div>
            
    <div class="hidden-xs" id="raya" style="height:3px; background:#ffffff"></div>
    <div class="hidden-xs" id="raya" style="height:5px; background:#3396cd"></div>
    <div class="visible-xs" id="raya" style="height:3px; background:#ffffff"></div>
    <div class="visible-xs" id="raya" style="height:5px; background:#2c9ec8;margin-top:-15px;"></div>
    
    <div id="form" class="container-fluid">
        <div class="container text-center ">
            <form id="search" role="form" style="padding: 11px 0" action="{{ path('properties') }}">

                <div class="row">

                    <div class="col-xs-12 col-md-4">
                        <input name="searchtext" style="-webkit-appearance: none;" id="searchtext" type="text" value="{{app.session.get('searchtext')}}" class="form-control" placeholder="Enter destination or Property ID">
                    </div>

                    <div class="checkin calendar input-group col-xs-6 col-md-2 col-sm-3 pull-left calendario">
                        <input id="datepicker1" style="-webkit-appearance: none;" name="checkin" type="text" class="form-control" placeholder="Check-in" value="{{app.session.get('checkin')}}" readonly="true">
                        <span class="input-group-addon" style="border:none;background-color:transparent;"><img src="{{ asset('bundles/common/images/icon Calendar.png') }}" /></span>
                    </div>   

                    <div  class="checkout calendar input-group col-xs-6 col-md-2 col-sm-3 pull-left calendario">
                        <input id="datepicker2" style="-webkit-appearance: none;" name="checkout" type="text" class="form-control" placeholder="Check-out" value="{{app.session.get('checkout')}}" readonly="true">
                        <span class="input-group-addon" style="border:none;background-color:transparent;"><img src="{{ asset('bundles/common/images/icon Calendar.png') }}" /></span>
                    </div>  

                    <div  class="sleeps input-group hidden-xs col-md-1 col-sm-3 pull-left">

                        <select name="sleeps" class="form-control" >
                            <option disabled="disabled" selected="selected" value=""> Sleeps</option>
                            <option value="1" {% if (app.session.get('minSleeps') == '1')%} selected="selected" {%endif%} >1+</option>
                            <option value="2" {% if (app.session.get('minSleeps') == '2')%} selected="selected" {%endif%} >2+</option>
                            <option value="3" {% if (app.session.get('minSleeps') == '3')%} selected="selected" {%endif%} >3+</option>
                            <option value="4" {% if (app.session.get('minSleeps') == '4')%} selected="selected" {%endif%} >4+</option>
                            <option value="5" {% if (app.session.get('minSleeps') == '5')%} selected="selected" {%endif%} >5+</option>
                            <option value="6" {% if (app.session.get('minSleeps') == '6')%} selected="selected" {%endif%} >6+</option>
                            <option value="7" {% if (app.session.get('minSleeps') == '7')%} selected="selected" {%endif%} >7+</option>
                            <option value="8" {% if (app.session.get('minSleeps') == '8')%} selected="selected" {%endif%} >8+</option>
                            <option value="9" {% if (app.session.get('minSleeps') == '9')%} selected="selected" {%endif%} >9+</option>
                            <option value="10" {% if (app.session.get('minSleeps') == '10')%} selected="selected" {%endif%} >10+</option>
                            <option value="11" {% if (app.session.get('minSleeps') == '11')%} selected="selected" {%endif%} >11+</option>
                            <option value="12" {% if (app.session.get('minSleeps') == '12')%} selected="selected" {%endif%} >12+</option>
                            <option value="13" {% if (app.session.get('minSleeps') == '13')%} selected="selected" {%endif%} >13 or more</option>

                        </select>
                        <span class="input-group-addon"><i class="fa fa-users" style="color: #B5B5B5;padding-top: 3px; font-size: 16px;"></i></span>


                    </div>
                    <div class="col-xs-12 col-md-2 col-sm-3" >
                        <button id="btnsave" type="submit" class="hide">Save</button>
                        <a id="btnsearch" href="#" class="btn btn-block btn-gradient-search">Search<span class="glyphicon glyphicon-search" style="padding-left: 10px"></span></a>
                    </div>
                </div>


                <input type="hidden" id="location_locality" class="add" name="location_locality">
                <input type="hidden" id="location_postal_town" class="add" name="location_postal_town">
                <input type="hidden" id="location_administrative_area_level_2" class="add" name="location_administrative_area_level_2">
                <input type="hidden" id="location_administrative_area_level_1" class="add" name="location_administrative_area_level_1">
                <input type="hidden" id="location_neighborhood" class="add" name="location_neighborhood">
                <input type="hidden" id="location_postal_code" class="add" name="location_postal_code">
                <input type="hidden" id="location_country" class="add" name="location_country">
            </form>
        </div>



    </div>


</div>


<div id="header-top1"  class="row hide hidden-xs">
    <div id="raya" style="height:3px; background:#ffffff">  </div>
    <div id="raya" style="height:5px; background:#3396cd">  </div>
    <div class="container">
        <div class="col-md-10 col-sm-10 col-xs-12  properties-container-profile">
            <ul class="nav nav-pills nav-profile1"  style="margin-top: 10px; margin-bottom: 20px">
                <div class="anchor-profile"></div> 
                <li class="">
                    <div class="btn-group">

                        <a id="b1b" href="#photos" class="btn btn-primary">
                            Photos  <span class="glyphicon glyphicon-picture glyphicon-align-right" aria-hidden="true" style="margin-left: 10px;"></span>
                        </a>
                    </div>
                </li>
                <li class="">
                    <div class="btn-group">

                        <a id="b2b" href="#description" class="btn btn-default">
                            Description <span class="glyphicon glyphicon-info-sign glyphicon-align-right" aria-hidden="true" style="margin-left: 10px;"></span>
                        </a>
                    </div>
                </li>
                <li class="">
                    <div class="btn-group">
                        <a id="b3b" href="#amenities" class="btn btn-default">
                            Amenities <span class="glyphicon glyphicon-list glyphicon-align-right" aria-hidden="true" style="margin-left: 10px;"></span>
                        </a>
                    </div>
                </li>
                <li class="">
                    <div class="btn-group">
                        <a id="b4b" href="#map-location" class="btn btn-default">
                            Map <span class="glyphicon glyphicon-map-marker glyphicon-align-right" aria-hidden="true" style="margin-left: 10px;"></span>
                        </a>
                    </div>
                </li>
                <li class="">
                    <div class="btn-group">
                        <a id="b5b" href="#booking-calendar"  class="btn btn-default">
                            Calendar <span class="glyphicon glyphicon-calendar glyphicon-align-right" aria-hidden="true" style="margin-left: 10px;"></span>
                        </a>
                    </div>
                </li>
                <li class="">
                    <div class="btn-group">
                        <a id="b6b" href="#rates"  class="btn btn-default" >
                            Rates <span class="glyphicon glyphicon-usd glyphicon-align-right" aria-hidden="true" style="margin-left: 10px;"></span>
                        </a>
                    </div>
                </li>
                <li class="">
                    <div class="btn-group">
                        <a  id="b7b" href="#payments"  class="btn btn-default" >
                            Policies & Payments <span class="glyphicon glyphicon-credit-card glyphicon-align-right" aria-hidden="true" style="margin-left: 10px;"></span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
{{ include('AdminBundle:Default:owner-support-form.html.twig') }}
<script type="text/javascript">
      jQuery("#searchtext").val('');
    jQuery(document).ready(function () {
//--------------------------------------------------------------------------------



          jQuery('#searchtext').keydown(function(event){
             if(event.keyCode !== 13 && event.keyCode !== 9 && event.keyCode !== 16 && event.keyCode !== 17 && event.keyCode !== 18 && event.keyCode !== 27 && event.keyCode !== 35 && event.keyCode !== 36 && event.keyCode !== 37 && event.keyCode !== 38 && event.keyCode !== 39 && event.keyCode !== 40) {
                jQuery('#search').find('.add').each(function () {
                jQuery(this).val('');
            });
            }
             if (event.which == 13 && jQuery('.pac-container:visible').length) return false;
      
        });


        var placeSearch, autocomplete;
        var componentForm = {
            locality: 'long_name',
            postal_town: 'long_name',
            administrative_area_level_2: 'short_name',
            administrative_area_level_1: 'long_name',
            country: 'long_name',
            neighborhood: 'long_name',
            postal_code: 'short_name'


        };

        function initialize() {
            // Create the autocomplete object, restricting the search
            // to geographical location types.
            autocomplete = new google.maps.places.Autocomplete(
                    /** @type {HTMLInputElement} */(document.getElementById('searchtext')),
                    {types: ['(regions)']});
            // When the user selects an address from the dropdown,
            // populate the address fields in the form.
            google.maps.event.addListener(autocomplete, 'place_changed', function () {
                fillInAddress(autocomplete);
            });
        }

        function fillInAddress(autocomplete) {
            // Get the place details from the autocomplete object.
            var place = autocomplete.getPlace();
            //jQuery('#response').html(place.address_components);
            // Get each component of the address from the place details
            // and fill the corresponding field on the form.

            jQuery('#search').find('.add').each(function () {
                jQuery(this).val('');
            });



            // Get each component of the address from the place details
            // and fill the corresponding field on the form.
            for (var i = 0; i < place.address_components.length; i++) {
                var addressType = place.address_components[i].types[0];



                //if(place.address_components[i].types[0] === 'postal_town'){
                //var addressType1 = place.address_components[i].types[0];  
                //var town = place.address_components[i]['long_name'];   
                //document.getElementById('stateName').value = town;
                //}   

                if (componentForm[addressType]) {

                    var val = place.address_components[i][componentForm[addressType]];
                    var addressType1 = "location_" + addressType;
                    document.getElementById(addressType1).value = val;

                }

            }



        }


        google.maps.event.addDomListener(window, 'load', initialize);




        jQuery('#btnsearch').click(function (e) {

            if (checkDate(jQuery('#datepicker1'), jQuery('#datepicker2'))) {
                jQuery('#btnsave').trigger('click');
            }
            e.preventDefault();
        });


        function createPopover(elem, text) {
            elem.attr('data-toggle', 'popover');
            elem.attr('data-placement', 'top');
            elem.attr('data-content', text);
            elem.attr('data-container', 'body');
            elem.popover();
            elem.trigger('click');
            elem.focus();
        }

        function checkDate(o, u) {
            if (u.val() < o.val()) {
                createPopover(u, 'Invalid Date');
                return false;

            } else {
                return true;
            }
        }

    });




</script>