<div id="header" class="container-fluid">
    <div class="container">
        <div class="row hidden-xs">
            <div id="logo" class="col-xs-12 col-md-6 col-sm-4 hidden-xs">
                <a href="{{ path('app_homepage') }}">
                    <img src="{{ asset('bundles/common/images/logo.svg') }}" alt="HomeEscape Logo"/></a>
            </div>

            <div id="logo1" class="col-xs-12 col-md-6 col-sm-6 visible-xs">
                <a href="{{ path('app_homepage') }}">
                    <img src="{{ asset('bundles/common/images/logo.svg') }}" alt="HomeEscape Logo"/></a>
            </div>


            <div id="chat" class="col-xs-12 col-md-6  col-sm-8">

                <div class="pull-right">
                    <nav>


                        <ul id="mainMenu" class="nav nav-pills nav-main">
                            
                            <li>
                                <a href="{{ path('contact_us') }}">Support</a>
                            </li>
                            <li>
                                <a href="{{ path('blog') }}">Blog</a>
                            </li>
                            <li>
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                    <div class="btn-group">
                                        <a  class="btn dropdown-toggle login" data-toggle="dropdown">
                                            <span style="margin-right: 10px">{{  app.user.name }} </span><span class="path glyphicon glyphicon-chevron-down"></span>

                                        </a>
                                        <ul class="dropdown-menu" role="menu">                   
                                            <li><a href="{{ path('admin_user_homepage') }}">Manage Listings</a></li>
                                            <li><a href="#" data-toggle="modal" data-target="#myModalSupport">Contact Support</a></li>
                                            <li><a href="{{ path('fos_user_change_password') }}">Change Password</a></li>
                                            <li class="divider"></li>
                                            <li><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
                                        </ul>
                                    </div>

                                {% else %}
                                    <a class="login" href="{{ path('fos_user_security_login') }}">Owner Login »</a>

                                {% endif %} 
                            </li>
                            {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <div class="pull-right btn-register-header"><a class="pull-left btn btn-default" style="color: #2c9ec8" href="{{  path("fos_create_user") }}">List your property for FREE</a></div>
                            {% endif %} 

                        </ul>                       
                    </nav></div>


            </div>


        </div>

        <div class="row visible-xs">
            <div class="col-md-2 col-sm-2 col-xs-2">
                <nav class="navbar" role="navigation" >
                    <div class="container-fluid">
                        <div class="navbar-header" style="margin-right: -33px">
                            <button class="navbar-toggle collapsed" data-target="#bs-example-navbar-collapse-9" data-toggle="collapse" type="button">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>  

                        </div>
                        <div id="bs-example-navbar-collapse-9" class="navbar-collapse collapse" style="width: 250px;">
                            <ul id="mainMenu" class="nav navbar-nav">
                                <li><a href="{{ path('contact_us') }}">Support</a></li>
                                <li><a href="{{ path('how_works') }}">How it works</a></li>
                                <li><a href="{{ path('help_center') }}">Get help</a></li>
                                <li><a href="{{ path('about_us') }}">Company</a></li>
                                <li><a href="{{ path('investor') }}">Investors</a></li>
                                <li><a href="{{ path('content_guidelines') }}">Content Guidelines</a></li>
                                <li>
                                   {% if is_granted("IS_AUTHENTICATED_REMEMBERED") == false %}

                                       <div class=""><a class="pull-left btn btn-default" style="color: #2c9ec8" href="{{  path("fos_create_user") }}">List your property for FREE</a></div>

                                   {% endif %} 
                               </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <div id="logo" class="col-xs-4 col-md-6" style="padding-left: 10px">
                <a href="{{ path('app_homepage') }}"><img src="{{ asset('bundles/common/images/logo.svg') }}" alt="Home"/></a>
            </div>
            <div class="col-xs-5 col-md-4" style="float:right;margin-top:10px;text-align:right;padding-right: 0">
                  {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                        <div class="btn-group">
                                            <a class="btn dropdown-toggle login" data-toggle="dropdown">
                                                <span class="path glyphicon glyphicon-chevron-down"></span>

                                            </a>
                                            <ul class="dropdown-menu" role="menu" style="text-align:right;left:-127px;">
                                            <li><a style="padding-left: 5px" href="{{ path('admin_user_homepage') }}">Manage Listings</a></li>
                                            <li><a  style="padding-left: 5px" href="#" data-toggle="modal" data-target="#myModalSupport">Contact Support</a></li>
                                            <li><a  style="padding-left: 5px" href="{{ path('fos_user_change_password') }}">Change Password</a></li>
                                            <li><a style="padding-left: 5px" href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
                                            </ul>
                                        </div>

                                    {% else %}
                                        <a class="login" href="{{ path('fos_user_security_login') }}">Owner Login »</a>

                                    {% endif %} 
            </div>
        </div>
    </div>
            
    <div class="hidden-xs" id="raya" style="height:3px; background:#ffffff"></div>
    <div class="hidden-xs" id="raya" style="height:5px; background:#2c9ec8;"></div>
 
    <div class="visible-xs" id="raya" style="height:5px; background:#2c9ec8;margin-top:-15px;"></div>
    
    
 

</div>
{{ include('AdminBundle:Default:owner-support-form.html.twig') }}
<script type="text/javascript">
    jQuery("#searchtext").val('');
    jQuery(document).ready(function () {
//------------------------------------------------------------------------------
          


        


        
        

    });




</script>