
<div id="container" class="container-fluid properties-container">
      
   <div class="list-row">
        <div  class="row" style="margin: 0 17px; padding-bottom: 10px; ">
            
            <div class="col-md-12 col-xs-12" style="margin: 10px 0 5px 0"></div>
        <div class="col-md-4 col-xs-12"><img src="{{ asset('bundles/common/images/Property1.jpg') }}"  style="padding-bottom: 5px" class="img-thumbnail" data-src="{{ asset('bundles/common/images/Property1.jpg') }}"></div>
        <div class="col-md-8 col-xs-12">
            <div class="row" style="padding: 0 0 10px 0">
                <div class="col-md-12 col-xs-12"><span class="property-title">{{property.description.name}}</span></div>
            </div>
                <div class="row">
                <div class="col-md-12 col-xs-12">{{property.location.address}}</div>
            </div>
                
                
                
        </div>
            
            
         </div>
    </div>
    <div  class="row calendar" style="margin: 30px 17px 0 17px;">
                       <div class="col-md-2 col-xs-12">
                           <div class="pull-left text-muted"><div class="color-swatch" style="background-color: #A2A2A2"></div>Reserved</div>
                       </div>
            <div class="col-md-2 col-xs-12">
                       <div  class="pull-left text-muted"><div class="color-swatch" style="background-color: #759E1A"></div>Tentative</div>
                       </div>
            <div class="col-md-2 col-xs-12">
                       <div  class="pull-left text-muted"><div class="color-swatch" style="background-color: #FFFFFF; border:#3396CD solid 2px"></div>Today</div>
                       </div>
            <div class="col-md-6 col-xs-12 text-right"  >
                <div class="btn-group">
                    <a href="{{ path('admin_user_calendar', {'id': property.id}) }}" type="button" class="btn btn-default">Year</a>
                </div>
                    
                    <div class="btn-group">
                <a type="button" class="btn btn-default">Month</a>
                </div>
                    
                </div>
    </div>
  <div class="list-row calendar">
    <div class="row" style="margin: 5px 20px 20px 20px ;  ">
                            
        <div id="calendar" class="col-md-12 col-xs-12">
              
                    
                </div>            
        </div>
 
       
         
            </div>
    
</div>
