
<header>
    <div class="row">                            
    <div class="col-md-12 col-xs-12">
                                    <ul class="breadcrumb breadcrumb-cap">
                                            <li class="">
                                         
                                                <a href="{{ path('admin_user_reservations',{'id': property.serie }) }}">Reservations</a>
                                                <img src="{{ asset('bundles/common/images/line1.jpg') }}">
                                            </li>
                                            <li class="active">Reservation {{ id }}</li>
                                    </ul>
                                    </div>
            </div>
        <div  id="tools-container" class="container-fluid"> 
        <div class="col-md-12 col-xs-12" >
        
                                                 <div class="toolbar-list clearfix">    
                                     
                                                
                                            </div>
                </div>
                </div>
              
                                        </header>


<div id="container" class="container-fluid properties-container">

        
    
    <div class="row">
        <div class="col-md-12  text-center">
            <form id="form-location" action="{{ path('edit_reservation', {'id': id} ) }}" {{ form_enctype(form) }} method="POST" class="form-horizontal">
    <input type="hidden" name="_csrf_token"   value="{{ csrf_token('registration') }}">
   
    
     <div class="col-md-12 col-xs-12">
      
       <div class="form-group" style="margin-bottom: 10px">
       <div class="col-md-12 col-xs-12 text-left form-title">
           
           <div id="title">Edit Reservation</div>
           
       </div>
       </div>
           
    </div>
    
    
    
    
            
    <div class="col-md-12 text-center">   
          
        
        <div class="form-group" style="margin-bottom: 10px">
 
         <div class="col-sm-6 col-xs-12 text-danger">
       {% for flashMessage in app.session.flashbag.get('notice') %}
           
           {{ flashMessage }}
        
           {% endfor %}
    </div>
     
  </div>

          
        
       
            <div class="form-group" style="margin-bottom: 10px">
 <div class="col-sm-3 col-xs-12 text-right">
     {{ form_label(form.firstName) }}
    </div>
         <div class="col-sm-6 col-xs-12">
     {{ form_widget(form.firstName) }}
    </div>
     
  </div>
        
        <div class="form-group" style="margin-bottom: 10px">
 <div class="col-sm-3 col-xs-12 text-right">
     {{ form_label(form.lastName) }}
    </div>
         <div class="col-sm-6 col-xs-12">
     {{ form_widget(form.lastName) }}
    </div>
     
  </div>
            
        <div class="pcalendar form-group" style="margin-bottom: 10px">
            <div class="col-sm-3 col-xs-12 text-right">
     {{ form_label(form.checkIn) }}
    </div>
            <div class="input-group col-sm-4 col-xs-12 pull-left">
        {{ form_widget(form.checkIn) }}
           <span class="input-group-addon"><img id="start-date" src="{{ asset('bundles/common/images/icon Calendar.png') }}" /></span>
           </div>
                 <div class="col-sm-2 col-xs-12">
                {{ form_widget(form.checkinhour) }}
               </div>
           </div>
            
            <div class="pcalendar form-group" style="margin-bottom: 10px">
             <div class="col-sm-3 col-xs-12 text-right">
     {{ form_label(form.checkOut) }}
    </div>
                <div class="input-group col-sm-4 col-xs-12 pull-left">
        {{ form_widget(form.checkOut) }}
           <span class="input-group-addon"><img id="start-date" src="{{ asset('bundles/common/images/icon Calendar.png') }}" /></span>
           </div>
                    <div class="col-sm-2 col-xs-12">
                    {{ form_widget(form.checkouthour) }}
                  </div>
           </div>
         
          
        <div class="form-group" style="margin-bottom: 10px">
          <div class="col-sm-3 col-xs-12 text-right">
     {{ form_label(form.property) }}
    </div>
            <div class="col-sm-6 col-xs-12">
    {{ form_widget(form.property) }}
    </div>
         </div>
       
         
            <div class="form-group" style="margin-bottom: 10px">
          <div class="col-sm-3 col-xs-12 text-right">
     {{ form_label(form.adults) }}
    </div>
                <div class="col-sm-3 col-xs-12">
    {{ form_widget(form.adults) }}
    </div>
       
         <div class="col-sm-3 col-xs-12">
     {{ form_widget(form.children) }}
    </div>
         </div> 
            
            <div class="form-group" style="margin-bottom: 10px">
          <div class="col-sm-3 col-xs-12 text-right">
     {{ form_label(form.email) }}
    </div>
                <div class="col-sm-6 col-xs-12">
     {{ form_widget(form.email) }}
    </div>
         </div>
            
            <div class="form-group" style="margin-bottom: 10px">
          <div class="col-sm-3 col-xs-12 text-right">
     {{ form_label(form.phone) }}
    </div>
                <div class="col-sm-6 col-xs-12">
    {{ form_widget(form.phone) }}
    </div>
         </div>
        
        <div class="form-group" style="margin-bottom: 10px">
          <div class="col-sm-3 col-xs-12 text-right">
     {{ form_label(form.mobile) }}
    </div>
            <div class="col-sm-6 col-xs-12">
    {{ form_widget(form.mobile) }}
    </div>
         </div>
        
            
             <div class="form-group" style="margin-bottom: 10px">
                </div>
                
                
                           
    
         
          </div>
         
    
    <div id="form-buttons" class="col-md-10 col-md-offset-3 text-center">
   <div class="form-group" style="margin-bottom: 10px">
    <div class="col-sm-12 col-xs-12 text-left">
        <button id="btnsave" type="submit" class="btn btn-primary">Save</button>
        
    </div>
           
    </div>        
    
  </div>
    <div style="display: none">{{ form_rest(form) }}</div>
</form>
                </div>
            </div>
    
    </div>

<script type="text/javascript">
            
           jQuery(document).ready(function() {
           
           jQuery( ".period-calendar" ).datepicker({
            dateFormat: 'yy-mm-dd'
            });
  
            });      
            
            
            
            
        
           
            
            
            
            </script>
    