

<span id="orden" class="hide"><input id="gallery_propertyImages_{{i}}_orden" class="form-control" type="number" value="{{i}}" name="gallery[propertyImages][{{i}}][orden]"></span>
<div class="col-md-1 col-xs-12 hide">
    <input id="upload{{i}}_photo" type="file" onchange="preview(this);" accept="image/*" name="gallery[propertyImages][{{i}}][photo]" value="{{file}}">
</div>
<div class="col-md-1 col-xs-12 hide title-input-source">  
    <input id="gallery_propertyImages_{{i}}_title" class="form-control" type="text" value="" maxlength="255" name="gallery[propertyImages][{{i}}][title]">
</div>
<div class="col-md-1 col-xs-12" style="padding: 0">

    <input id="pictureId" type="hidden" value="new">

</div>
