<style>
    .btn-default {
        background-color: rgba(68, 70, 71, 0.79);
        color: white;
        border: none;
    }

    .btn-default.focus, .btn-default:focus {
        background-color: rgba(55, 57, 58, 0.85);
        color: white;
        border: none;
    }

    .btn-default:hover {
        background-color: rgba(52, 54, 55, 0.85);
        color: white;
        border: none;
    }

    .btn-default.active, .btn-default:active, .open > .dropdown-toggle.btn-default {
        background-color: rgba(52, 54, 55, 0.85);
        color: white;
        border: none;
    }

    .btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open > .dropdown-toggle.btn-default.focus, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover {
        background-color: rgba(52, 54, 55, 0.85);
        color: white;
        border: none;
    }

    .btn-default.active, .btn-default:active, .open > .dropdown-toggle.btn-default {
        background-image: none
    }
</style>
<div class="modal fade" id="myModalInquiryListReply{{ id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Reply Form</h4>

                <div class="alert hide" id="succes_reply"
                     style="background-color: #0cffdd">
                    <button type="button" class="close"
                            data-dismiss="alert">&times;</button>

                    <strong>Succes!</strong> Your Email has been replied
                    succesfully....
                </div>
            </div>
            <div class="modal-body">
                <div class="col-md-7 col-sm-8 col-xs-9" style="padding-left: 0px !important;">
                    <p>
                        <span class="bold_text_black"> {{ email.remitentname }}:</span>
                    </p>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 text-left"
                     style="max-resolution: 15px;padding-left: 0px !important;">
                    {% if email.offer %}
                        <h3>Offer: ${{ email.offertext }} </h3>
                    {% else %}
                        <span>{{ email.bodymail }}</span>
                    {% endif %}
                </div>
                <form id="formListReply" action="{{ path('save_inquiry_reply') }}" {{ form_enctype(form) }}
                      method="POST" class="form-horizontal">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('registration') }}">

                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 reply">

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">Reply</div>
                        <div class="col-md-12 col-sm-12 col-xs-12">{{ form_widget(form.text) }}</div>
                    </div>

                    <div style="display: none">{{ form_rest(form) }}</div>

                    <input type="hidden" id="resId" name="inqId" value="{{ id }}">
                </form>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        <div id="error"></div>
                    </div>
                    <div class="col-md-5 col-sm-5 col-xs-12">
                        <button type="button" class="btn btn-default close-btn" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary confirm-send">Reply</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    jQuery(document).ready(function () {


        function disableFormReadReply() {
            jQuery('#myModalInquiryListReply{{id}} #formListReply').find('textarea').attr('disabled', 'disabled')
            jQuery("#myModalInquiryListReply{{id}} #formListReply").css("opacity", 0.37);
        }


        function enableFormReadReply() {
            jQuery('#myModalInquiryListReply{{id}} #formListReply').find('textarea').val('');
            jQuery('#myModalInquiryListReply{{id}} #formListReply').find('textarea').removeAttr('disabled');
            jQuery("#myModalInquiryListReply{{id}} #formListReply").css("opacity", 1);
        }

        function submitFormReadReply() {

            jQuery.ajax({
                statusCode: {
                    500: function () {
                        jQuery("#succes_reply").addClass("hide");
                        jQuery('#myModalInquiryListReply{{id}} #error').html("<span class='glyphicon glyphicon-warning-sign' style='margin-right:15px;color:#d9534f'></span><span class='text-danger'>There was an error, try again</span>");
                    }
                },
                url: jQuery('#myModalInquiryListReply{{id}} #formListReply').attr('action'),
                type: "POST",
                data: {id: '{{id}}', text: jQuery('#myModalInquiryListReply{{id}} #inquiryReply_text').val()},
                async: false,
                success: function (response) {
                    jQuery("#succes_reply").removeClass("hide");
                    enableFormReadReply();
                }
            });
        }


        jQuery('#myModalInquiryListReply{{id}} .confirm-send').click(function (e) {
            validateFormReadReply();

        });

        jQuery('#myModalInquiryListReply{{id}}').find('textarea').each(function () {
            jQuery(this).focusout(function () {
                jQuery(this).popover('destroy');
            });
        });


        function validateFormReadReply() {
            var bValid = true;
            bValid = bValid && checkLength(jQuery('#myModalInquiryListReply{{id}} #inquiryReply_text'), 5, 500);
            if (bValid) {
                disableFormReadReply();
                submitFormReadReply();
            }

        }

        function checkLength(o, min, max) {
            if (o.val().length < min) {
                createPopover(o, 'Please fill out this field');
                return false;
            } else {
                return true;
            }
        }

        function createPopover(elem, text) {
            elem.attr('data-toggle', 'popover');
            elem.attr('data-placement', 'bottom');
            elem.attr('data-content', text);
            elem.attr('data-container', 'body');
            elem.popover();
            elem.trigger('click');
            elem.focus();
        }
    });


</script>