{% extends "AdminBundle:Layout:user-admin.html.twig" %}
 {% block title %}Administration{% endblock %}
{% block stylesheets %} {{ parent() }} {% endblock %}
 {% block javascripts %} {{ parent() }} {% endblock %}
 {% block header %}
 {{ include('CommonBundle:Default:header.html.twig') }}
 {{ include('AppBundle:Default:home-form.html.twig') }}

 {% endblock %}
 {% block menu %}
 {{ include('AdminBundle:Default:admin-tools.html.twig') }}
{% endblock %}
 {% block body %}
<div class="container"><h1>Welcome to the Support Module</h1></div>
 {% endblock %}
 {% block footer %}
 {{ include('CommonBundle:Default:footer.html.twig') }}   
 {% endblock %}
