<div id="container" class="container-fluid properties-container no_padding">


    <div class="col-xs-12 col-sm-12 col-md-8 no_padding borderBoxShadows" style="border:0px;background-color:white;margin-top: 14px;">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <h5 class="bold_text" style="color: #000000">What's New?</h5>
        </div>
        <div>
            <hr style="border-top: 1px solid #CCCCCC"/>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 no_padding">
            <div class="col-xs-9 col-sm-9 col-md-9">
                <a href="#" class="link_style">New tool added to the web site</a>

                <p class="">Texto de contenido del primer ítem</p>
            </div>
            <div class="col-xs-3 text-right">
                <span class="date"> Aug 11, 2015</span>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 no_padding">
            <div class="col-xs-9">
                <a href="#" class="link_style">New tool added to the web site</a>

                <p class="">Texto de contenido del primer ítem</p>
            </div>
            <div class="col-xs-3 text-right">
                <span class="date"> Aug 11, 2015</span>
            </div>
        </div>
        <div class="col-xs-12 no_padding">
            <div class="col-xs-9">
                <a href="#" class="link_style">New tool added to the web site</a>

                <p class="">Texto de contenido del primer ítem</p>
            </div>
            <div class="col-xs-3 text-right">
                <span class="date"> Aug 11, 2015</span>
            </div>
        </div>
        <hr/>
        <div class="col-xs-12 text-right" style="padding-bottom: 10px">
            <a href="#" class="link_style">View older news</a>
        </div>
    </div>

<div class="col-xs-12 col-md-4 pull-right no_padding borderBoxShadows" style="background-color: #ffffff;margin-top: 14px;">
    <div class="col-xs-12">
        <h5 class="bold_text" style="color: #000000">Account Sumary</h5>
    </div>
    <hr/>
    <div class="col-xs-12">

        <div class="col-xs-12 no_padding summaryfields">
            <div class="col-xs-4 no_padding ">
                <span class="pull-left">Status</span>
            </div>
            <div class="col-xs-8 text-left">
                {% if sumary.active != 0 %}
                    <span id="status" style="color: #15790f;padding-right: 5px">{{ sumary.active }} active</span>
                {% endif %}
                {% if sumary.inactive != 0 %}
                    <span id="status" style="color: #791212">{{ sumary.inactive }} inactive</span>
                {% endif %}
            </div>
        </div>

        <div class="col-xs-12 no_padding summaryfields">
            <div class="col-xs-4 no_padding">
                <span class="pull-left">Visits</span>
            </div>
            <div class="col-xs-8 text-left">
                <span id="visits" class="bold_text" style="color: #000000">{{ sumary.visits }}</span>
            </div>
        </div>
        <div class="col-xs-12 no_padding summaryfields">
            <div class="col-xs-4 no_padding">
                <span class="pull-left">Updates</span>
            </div>
            <div class="col-xs-8 text-left">
                <span id="updated">{{ sumary.update }}</span>
            </div>
        </div>
        <div class="col-xs-12 no_padding summaryfields" style="padding-bottom: 27px">
            <div class="col-xs-4 no_padding">
                <span class="pull-left">Created</span>
            </div>
            <div class="col-xs-8 text-left">
                <span id="created">{{ sumary.created }}</span>
            </div>
        </div>

    </div>
</div>


<script type="text/javascript">
    jQuery(document).ready(function () {


        jQuery(function () {
            jQuery('[data-toggle="tooltip"]').tooltip();
        });

        jQuery('.basic').jRating({
            isDisabled: true,
            nbRates: 0,
            sendRequest: false,
            rateMax: 5,
            bigStarsPath: '../bundles/common/css/icons/stars.png', // path of the icon stars.png
            smallStarsPath: '../bundles/common/css/icons/small.png', // path of the icon small.png

        });

        jQuery('.basictemp').each(function () {
            jQuery(this).attr("data-average", jQuery(this).parent().find('.valoration').val()).attr("data-id", 1);

        });
        //jQuery('.basictemp').attr("data-average",1).attr("data-id",1);

        jQuery('.basic').remove();
        jQuery('.basictemp').jRating({
            isDisabled: true,
            nbRates: 0,
            sendRequest: false,
            rateMax: 5,
            showRateInfo: true,
            bigStarsPath: '../bundles/common/css/icons/stars.png', // path of the icon stars.png
            smallStarsPath: '../bundles/common/css/icons/small.png', // path of the icon small.png


        });


        function createPopover(elem, text) {
            elem.attr('data-toggle', 'popover');
            elem.attr('data-placement', 'right');
            elem.attr('data-content', text);
            elem.attr('data-container', 'body');
            elem.popover();
            elem.trigger('click');
            elem.focus();
        }

        jQuery('.deactivate-form').find('input , select').each(function () {
            jQuery(this).focusout(function () {
                jQuery(this).popover('destroy');
            });
        });


        function checkLength(o, min, max) {
            if (o.val().length < min) {
                createPopover(o, 'Please fill out this field');

                return false;
            } else {
                return true;
            }
        }


        function checkRegexp(o, regexp) {
            if (!( regexp.test(o.val()) )) {
                createPopover(o, 'Invalid field');
                return false;
            } else {
                return true;
            }
        }


        function checkSelected(o) {
            if (o.val() == "") {
                createPopover(o, 'Please fill out this field');
                return false;
            } else {
                return true;
            }
        }

        function checkDate(o, u) {
            if (u.val() < o.val()) {
                createPopover(u, 'Invalid Date');
                return false;

            } else {
                return true;
            }
        }

        function validateForm(serie) {
            var bValid = true;
            bValid = bValid && checkLength(jQuery('#deactivationRequest_text'), 2, 400);

            if (bValid) {
                disableForm();
                submitForm(serie);
            }

        }


        function disableForm() {
            jQuery('.ui-dialog').find('#deactivationRequest_text').attr('disabled', 'disabled')
            jQuery("#loading").show();
            jQuery(".deactivate-form").css("opacity", 0.37);
            jQuery(".ui-dialog").find(".ui-dialog-buttonset").css("opacity", 0.37);
        }

        function resetForm() {
            jQuery('.ui-dialog').find('#deactivationRequest_text').val('');
        }

        function enableForm() {
            jQuery('.ui-dialog').find('#deactivationRequest_text').removeAttr('disabled');
            jQuery(".deactivate-form").css("opacity", 1);
            jQuery(".ui-dialog").find(".ui-dialog-buttonset").css("opacity", 1);
            jQuery("#loading").hide();
        }


        function submitForm(serie) {
            jQuery.ajax({
                url: '{{path('create_user_request')}}',
                type: "POST",
                data: {id: serie, text: jQuery('#deactivationRequest_text').val()},
                async: false,
                success: function (response) {
                    jQuery('#dialog-form').dialog("close");
                    resetForm();
                    enableForm();
                    showForm1();
                }
            });

        }


    });

</script>